body{
    display: flex; 
    min-height: 100vh; 
    flex-direction: column;
}

a{
    color: #e65100;
}

.main-content{
    flex: 1;
}

.navbar-logo{
    height:64px;
}

@media (max-width: 600px) {
    .navbar-logo{
        height: 56px;
    }
}

.custom-orange-text{
    color: #e65100;
}

.navbar-link{
    color: #fff;
}

.main-logo{
    max-height: 400px;
}

.h1-404{
    text-align: center; 
    font-size: 15rem; 
    font-weight: bolder;
}

.h1-404-text{
    text-align: center; 
    font-size: 5rem; 
    font-weight: bolder;
}

.h1-404-icon{
    text-align: center;
}

.h1-404-icon i{
    font-size: 20rem;
}

.header-icon{
    vertical-align: middle !important;
    font-size: 2.5rem !important;
}

.detail__player {
    display: flex;
    align-items: center;
}
.detail__player img {
    width: 120px;
    margin-right: 2rem;
}
.detail__player h3{
    margin-top: 0;
}

.page-footer{
    padding-top: 0px;
}

.stats-profile-pic{
    width:50px;
    height:50px;
    vertical-align: middle
}

.stats-icon{
    vertical-align: middle !important;
    font-size: 2.3rem !important;
}

.steam-id{
    font-size: 0.75rem; 
    color: #dddddd
}

.mono-font{
    font-family: 'Courier New', Courier, monospace;
}

.clickable-card:hover div{
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
    bottom: 5px;
    right: 5px;
}

.inline-badge{
    position: absolute;
}

.tab a {
    display: flex !important;
    align-content: center !important;
    color: white !important;
}
.tab a .material-icons {
    display: flex !important;
    line-height: 2 !important;
    margin-right: .5rem;
}
.tabs .indicator {
    background-color: #e65100 !important;
}
.tabs .tab a:focus,
.tabs .tab a:focus.active {
    background-color: rgba(0,0,0,0.1) !important;
}