
<<template "header.html">>


	<div class="row">
		<div class="col s6">
			<div class="card horizontal indigo darken-1">
				<div class="card-image">
					<img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/06/06e1eec83d05fd0823728381fcbe27c0d8318510_full.jpg">
				</div>
				<div class="card-stacked">
					<div class="card-content white-text">
						<span class="card-title">Warmup King</span>
						<p>Most kills during warmup</p>
						<p class="grey-text">02.02.2020 13:23</p>
					</div>
					<div class="card-action">
						<a href="#">randolf</a>
					</div>
				</div>
			</div>
		</div>
	</div>



	<script id="awards-template" type="text/x-jsrender">
	</script>

	<script type="text/javascript">
		$(document).ready(function () {

			$.getJSON("/api/claninfo/awards",  function(data) {

				for (var i =0; data.lenght; i++) {
					console.log(data[i]);
				}

				// Append all matches to table
				//	for (var i = 0; i<data.length; i++) {
				//		data[i].time= new Date(data[i].time).toUTCString()
				//		$("#awards-container" ).append( $.templates( "#awards-template" ).render(data[i]));
				//	}

			});
		});
	</script>


<<template "footer.html">>
