
<<template "header.html">>


	<div class="row">
		<div class="col s6">
			<div class="card horizontal blue-grey darken-1">
				<div class="card-image">
					<img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/06/06e1eec83d05fd0823728381fcbe27c0d8318510_full.jpg">
				</div>
				<div class="card-stacked">
					<div class="card-content white-text">
						<span class="card-title">Warmup King</span>
						<p>Most kills during warmup</p>
						<p class="grey-text">02.02.2020 13:23</p>
					</div>
					<div class="card-action">
						<a href="#">randolf</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col s6">
			<div class="card horizontal blue-grey darken-1">
				<div class="card-image">
					<img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/06/06e1eec83d05fd0823728381fcbe27c0d8318510_full.jpg">
				</div>
				<div class="card-stacked">
					<div class="card-content white-text">
						<span class="card-title">Nade Inspector</span>
						<p>Most deaths while not holding a weapon</p>
						<p class="grey-text">02.02.2020 13:23</p>
					</div>
					<div class="card-action">
						<a href="#">randolf</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col s6">
			<div class="card horizontal blue-grey darken-1">
				<div class="card-image">
					<img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/06/06e1eec83d05fd0823728381fcbe27c0d8318510_full.jpg">
				</div>
				<div class="card-stacked">
					<div class="card-content white-text">
						<span class="card-title">Master Slicer</span>
						<p>Most knive kills</p>
						<p class="grey-text">02.02.2020 13:23</p>
					</div>
					<div class="card-action">
						<a href="#">randolf</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col s6">
			<div class="card horizontal blue-grey darken-1">
				<div class="card-image">
					<img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/06/06e1eec83d05fd0823728381fcbe27c0d8318510_full.jpg">
				</div>
				<div class="card-stacked">
					<div class="card-content white-text">
						<span class="card-title">Electrician</span>
						<p>Most enemies tasered</p>
						<p class="grey-text">02.02.2020 13:23</p>
					</div>
					<div class="card-action">
						<a href="#">randolf</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col s6">
			<div class="card horizontal blue-grey darken-1">
				<div class="card-image">
					<img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/06/06e1eec83d05fd0823728381fcbe27c0d8318510_full.jpg">
				</div>
				<div class="card-stacked">
					<div class="card-content white-text">
						<span class="card-title">Teamkiller</span>
						<p>Most damage to teammates</p>
						<p class="grey-text">02.02.2020 13:23</p>
					</div>
					<div class="card-action">
						<a href="#">randolf</a>
					</div>
				</div>
			</div>
		</div>

		<div class="col s6">
			<div class="card horizontal blue-grey darken-1">
				<div class="card-image">
					<img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/06/06e1eec83d05fd0823728381fcbe27c0d8318510_full.jpg">
				</div>
				<div class="card-stacked">
					<div class="card-content white-text">
						<span class="card-title">Hip-Shooter</span>
						<p>Most no-scope kills with AWP</p>
						<p class="grey-text">02.02.2020 13:23</p>
					</div>
					<div class="card-action">
						<a href="#">randolf</a>
					</div>
				</div>
			</div>
		</div>


		<div class="col s6">
			<div class="card horizontal blue-grey darken-1">
				<div class="card-image">
					<img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/06/06e1eec83d05fd0823728381fcbe27c0d8318510_full.jpg">
				</div>
				<div class="card-stacked">
					<div class="card-content white-text">
						<span class="card-title">Chicken-Chef</span>
						<p>Most chickens killed</p>
						<p class="grey-text">02.02.2020 13:23</p>
					</div>
					<div class="card-action">
						<a href="#">randolf</a>
					</div>
				</div>
			</div>
		</div>

		<div class="col s6">
			<div class="card horizontal blue-grey darken-1">
				<div class="card-image">
					<img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/06/06e1eec83d05fd0823728381fcbe27c0d8318510_full.jpg">
				</div>
				<div class="card-stacked">
					<div class="card-content white-text">
						<span class="card-title">Photographer</span>
						<p>Most teammates blinded</p>
						<p class="grey-text">02.02.2020 13:23</p>
					</div>
					<div class="card-action">
						<a href="#">randolf</a>
					</div>
				</div>
			</div>
		</div>


		<div class="col s6">
			<div class="card horizontal blue-grey darken-1">
				<div class="card-image">
					<img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/06/06e1eec83d05fd0823728381fcbe27c0d8318510_full.jpg">
				</div>
				<div class="card-stacked">
					<div class="card-content white-text">
						<span class="card-title">Fake-Defuser</span>
						<p>Most faked bomb-defuses</p>
						<p class="grey-text">02.02.2020 13:23</p>
					</div>
					<div class="card-action">
						<a href="#">randolf</a>
					</div>
				</div>
			</div>
		</div>

		<div class="col s6">
			<div class="card horizontal blue-grey darken-1">
				<div class="card-image">
					<img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/06/06e1eec83d05fd0823728381fcbe27c0d8318510_full.jpg">
				</div>
				<div class="card-stacked">
					<div class="card-content white-text">
						<span class="card-title">Bomb-Protector</span>
						<p>Most deaths to bomb explosion</p>
						<p class="grey-text">02.02.2020 13:23</p>
					</div>
					<div class="card-action">
						<a href="#">randolf</a>
					</div>
				</div>
			</div>
		</div>

		<div class="col s6">
			<div class="card horizontal blue-grey darken-1">
				<div class="card-image">
					<img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/06/06e1eec83d05fd0823728381fcbe27c0d8318510_full.jpg">
				</div>
				<div class="card-stacked">
					<div class="card-content white-text">
						<span class="card-title">Forrest Gump</span>
						<p>Most steps in a single match</p>
						<p class="grey-text">02.02.2020 13:23</p>
					</div>
					<div class="card-action">
						<a href="#">randolf</a>
					</div>
				</div>
			</div>
		</div>

		<div class="col s6">
			<div class="card horizontal blue-grey darken-1">
				<div class="card-image">
					<img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/06/06e1eec83d05fd0823728381fcbe27c0d8318510_full.jpg">
				</div>
				<div class="card-stacked">
					<div class="card-content white-text">
						<span class="card-title">Kangoroo</span>
						<p>Most jumps in a single match</p>
						<p class="grey-text">02.02.2020 13:23</p>
					</div>
					<div class="card-action">
						<a href="#">randolf</a>
					</div>
				</div>
			</div>
		</div>

		<div class="col s6">
			<div class="card horizontal blue-grey darken-1">
				<div class="card-image">
					<img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/06/06e1eec83d05fd0823728381fcbe27c0d8318510_full.jpg">
				</div>
				<div class="card-stacked">
					<div class="card-content white-text">
						<span class="card-title">Freelancer</span>
						<p>Most aces</p>
						<p class="grey-text">02.02.2020 13:23</p>
					</div>
					<div class="card-action">
						<a href="#">randolf</a>
					</div>
				</div>
			</div>
		</div>


		<div class="col s6">
			<div class="card horizontal blue-grey darken-1">
				<div class="card-image">
					<img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/06/06e1eec83d05fd0823728381fcbe27c0d8318510_full.jpg">
				</div>
				<div class="card-stacked">
					<div class="card-content white-text">
						<span class="card-title">Economist</span>
						<p>Least money spend</p>
						<p class="grey-text">02.02.2020 13:23</p>
					</div>
					<div class="card-action">
						<a href="#">randolf</a>
					</div>
				</div>
			</div>
		</div>

		<div class="col s6">
			<div class="card horizontal blue-grey darken-1">
				<div class="card-image">
					<img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/06/06e1eec83d05fd0823728381fcbe27c0d8318510_full.jpg">
				</div>
				<div class="card-stacked">
					<div class="card-content white-text">
						<span class="card-title">Jeff Bezos</span>
						<p>Most money saved on round end</p>
						<p class="grey-text">02.02.2020 13:23</p>
					</div>
					<div class="card-action">
						<a href="#">randolf</a>
					</div>
				</div>
			</div>
		</div>

		<div class="col s6">
			<div class="card horizontal blue-grey darken-1">
				<div class="card-image">
					<img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/06/06e1eec83d05fd0823728381fcbe27c0d8318510_full.jpg">
				</div>
				<div class="card-stacked">
					<div class="card-content white-text">
						<span class="card-title">Don't be looser, buy defuser</span>
						<p>Most defuse kits bought</p>
						<p class="grey-text">02.02.2020 13:23</p>
					</div>
					<div class="card-action">
						<a href="#">randolf</a>
					</div>
				</div>
			</div>
		</div>

		<div class="col s6">
			<div class="card horizontal blue-grey darken-1">
				<div class="card-image">
					<img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/06/06e1eec83d05fd0823728381fcbe27c0d8318510_full.jpg">
				</div>
				<div class="card-stacked">
					<div class="card-content white-text">
						<span class="card-title">Partystarter</span>
						<p>Most Entry-Frags</p>
						<p class="grey-text">02.02.2020 13:23</p>
					</div>
					<div class="card-action">
						<a href="#">randolf</a>
					</div>
				</div>
			</div>
		</div>

		<div class="col s6">
			<div class="card horizontal blue-grey darken-1">
				<div class="card-image">
					<img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/06/06e1eec83d05fd0823728381fcbe27c0d8318510_full.jpg">
				</div>
				<div class="card-stacked">
					<div class="card-content white-text">
						<span class="card-title">Pacifist</span>
						<p>Most rounds without frags</p>
						<p class="grey-text">02.02.2020 13:23</p>
					</div>
					<div class="card-action">
						<a href="#">randolf</a>
					</div>
				</div>
			</div>
		</div>

		<div class="col s6">
			<div class="card horizontal blue-grey darken-1">
				<div class="card-image">
					<img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/06/06e1eec83d05fd0823728381fcbe27c0d8318510_full.jpg">
				</div>
				<div class="card-stacked">
					<div class="card-content white-text">
						<span class="card-title">Rowdy</span>
						<p>Most decoy-grenades thrown</p>
						<p class="grey-text">02.02.2020 13:23</p>
					</div>
					<div class="card-action">
						<a href="#">randolf</a>
					</div>
				</div>
			</div>
		</div>

		<div class="col s6">
			<div class="card horizontal blue-grey darken-1">
				<div class="card-image">
					<img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/06/06e1eec83d05fd0823728381fcbe27c0d8318510_full.jpg">
				</div>
				<div class="card-stacked">
					<div class="card-content white-text">
						<span class="card-title">Talkshow host</span>
						<p>Most words written in chat</p>
						<p class="grey-text">02.02.2020 13:23</p>
					</div>
					<div class="card-action">
						<a href="#">randolf</a>
					</div>
				</div>
			</div>
		</div>

		<div class="col s6">
			<div class="card horizontal blue-grey darken-1">
				<div class="card-image">
					<img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/06/06e1eec83d05fd0823728381fcbe27c0d8318510_full.jpg">
				</div>
				<div class="card-stacked">
					<div class="card-content white-text">
						<span class="card-title">BOT-Instructor</span>
						<p>Most BOTs taken over</p>
						<p class="grey-text">02.02.2020 13:23</p>
					</div>
					<div class="card-action">
						<a href="#">randolf</a>
					</div>
				</div>
			</div>
		</div>

		<div class="col s6">
			<div class="card horizontal blue-grey darken-1">
				<div class="card-image">
					<img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/06/06e1eec83d05fd0823728381fcbe27c0d8318510_full.jpg">
				</div>
				<div class="card-stacked">
					<div class="card-content white-text">
						<span class="card-title">Quick-Reloader</span>
						<p>Most times reloaded</p>
						<p class="grey-text">02.02.2020 13:23</p>
					</div>
					<div class="card-action">
						<a href="#">randolf</a>
					</div>
				</div>
			</div>
		</div>

		<div class="col s6">
			<div class="card horizontal blue-grey darken-1">
				<div class="card-image">
					<img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/06/06e1eec83d05fd0823728381fcbe27c0d8318510_full.jpg">
				</div>
				<div class="card-stacked">
					<div class="card-content white-text">
						<span class="card-title">Ground-Aimer</span>
						<p>Most Shots to Legs</p>
						<p class="grey-text">02.02.2020 13:23</p>
					</div>
					<div class="card-action">
						<a href="#">randolf</a>
					</div>
				</div>
			</div>
		</div>

		<div class="col s6">
			<div class="card horizontal blue-grey darken-1">
				<div class="card-image">
					<img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/06/06e1eec83d05fd0823728381fcbe27c0d8318510_full.jpg">
				</div>
				<div class="card-stacked">
					<div class="card-content white-text">
						<span class="card-title">Mayfly</span>
						<p>Fastest Death in Round</p>
						<p class="grey-text">02.02.2020 13:23</p>
					</div>
					<div class="card-action">
						<a href="#">randolf</a>
					</div>
				</div>
			</div>
		</div>

	</div>



	<script id="awards-template" type="text/x-jsrender">
	</script>

	<script type="text/javascript">
		$(document).ready(function () {

			$.getJSON("/api/claninfo/awards",  function(data) {


				// Append all matches to table
				//	for (var i = 0; i<data.length; i++) {
				//		data[i].time= new Date(data[i].time).toUTCString()
				//		$("#awards-container" ).append( $.templates( "#awards-template" ).render(data[i]));
				//	}

			});
		});
	</script>


					<<template "footer.html">>



