	<div class="col s12 m12 l6">
        <div class="card blue-grey darken-2">
            <div class="card-content white-text">
                <span class="card-title">Kill-Death-Ratio (KD)</span>
                <br />
				<div id="kd-chart"></div>
            </div>
        </div>
    </div>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


<script charset="utf-8">

	google.charts.load('current', {packages: ['corechart', 'line']});
	google.charts.setOnLoadCallback(drawBasic);

function drawBasic() {

	  var data = new google.visualization.DataTable();
	  data.addColumn('datetime', 'X');
	  data.addColumn('number', 'KD');


	  data.addRows([
			 {{range .PlayerHistory.Data }} [new Date('{{.Time}}'), {{.TotalKD}}], {{end}}
	  ]);

	  var options = {
		hAxis: {
		  //title: 'Time'
		},
		vAxis: {
		  //title: 'KD'
		}
	  };

	  var chart = new google.visualization.LineChart(document.getElementById('kd-chart'));

	  chart.draw(data, options);
	}

</script>
