<div class="row">
    <div class="col s12">
        <div id="container-acc" style="width: 100%; height: 300px;"></div>
    </div>
</div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js" ></script>
<script charset="utf-8">
var chartAccuracy = document.getElementById("container-acc");
var myChartAccuracy = echarts.init(chartAccuracy);
var app = {};
optionAccuracy = null;
optionAccuracy = {
    title: {
        text: 'KD and Hit-Ratio'
    },
    tooltip: {
        trigger: 'axis'
    },
    legend: {
        data: ['KD', 'HitRatio']
    },
    grid: {
        left: '5%',
        right: '5%',
        bottom: '10%'
    },
    toolbox: {
        feature: {
            saveAsImage: {}
        }
    },
    xAxis: {
        type: 'category',
        boundaryGap: false,
        data: [<< range.PlayerHistory.Data >> '<<.Time>>', << end >> ]
    },
    yAxis: {
        type: 'value'
    },
    series: [{
            name: 'KD',
            type: 'line',
            stack: 'stack1',
            data: [<< range.PlayerHistory.Data >> << .TotalKD >>, << end >>]
			},
        {
            name: 'HitRatio',
            type: 'line',
            stack: 'stack2',
            data: [<< range.PlayerHistory.Data >> << .HitRatio >>, << end >>]
		}
    ]
};


if (optionAccuracy && typeof optionAccuracy === "object") {
    myChartAccuracy.setOption(optionAccuracy, true);
}
$(window).resize(function() {
	myChartAccuracy.resize();
});
</script>

