<div id="container-adr" style="width: 100%; height: 350px;"></div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js" ></script>
<script charset="utf-8">
var chartAdr = document.getElementById("container-adr");
var myChartAdr = echarts.init(chartAdr);
var app = {};
optionAdr = null;

optionAdr = {
responsive: true,
maintainAspectRatio: false,
height: '100%',
width: '100%',
    xAxis: {
        type: 'category',
        boundaryGap: false,
        data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
    },
    yAxis: {
        type: 'value'
    },
    series: [{
        data: [820, 932, 901, 934, 1290, 1330, 1320],
        type: 'line',
        areaStyle: {}
    }]
};


if (optionAdr && typeof optionAdr === "object") {
    myChartAdr.setOption(optionAdr, true);
}
$(window).resize(function() {
    myChartAdr.resize();
});


</script>
