<script>
	var data = [
		{ name: 'Galil AR',      kills: {{.UserStatsForGame.Stats.TotalHitsGalilar}} },
		{ name: 'MAG-7',         kills: {{.UserStatsForGame.Stats.TotalHitsMag7}} },
		{ name: 'Tec-9',         kills: {{.UserStatsForGame.Stats.TotalHitsTec9}} },
		{ name: 'PP-Bizon',      kills: {{.UserStatsForGame.Stats.TotalHitsBizon}} },
		{ name: 'Sawed-Off',     kills: {{.UserStatsForGame.Stats.TotalHitsSawedoff}} },
		{ name: 'M4A1-S & M4A4', kills: {{.UserStatsForGame.Stats.TotalHitsM4a1}} },
		{ name: 'Negev',         kills: {{.UserStatsForGame.Stats.TotalHitsNegev}} },
		{ name: 'Nova',          kills: {{.UserStatsForGame.Stats.TotalHitsNova}} },
		{ name: 'MP9',           kills: {{.UserStatsForGame.Stats.TotalHitsMp9}} },
		{ name: 'MP7',           kills: {{.UserStatsForGame.Stats.TotalHitsMp7}} },
		{ name: 'SSG 08',        kills: {{.UserStatsForGame.Stats.TotalHitsSsg08}} },
		{ name: 'SCAR-20',       kills: {{.UserStatsForGame.Stats.TotalHitsScar20}} },
		{ name: 'SG 556',        kills: {{.UserStatsForGame.Stats.TotalHitsSg556}} },
		{ name: 'P250',          kills: {{.UserStatsForGame.Stats.TotalHitsP250}} },
		{ name: 'USP-S & P2000', kills: {{.UserStatsForGame.Stats.TotalHitsHkp2000}} },
		{ name: 'M249',          kills: {{.UserStatsForGame.Stats.TotalHitsM249}} },
		{ name: 'G3SG1',         kills: {{.UserStatsForGame.Stats.TotalHitsG3sg1}} },
		{ name: 'FAMAS',         kills: {{.UserStatsForGame.Stats.TotalHitsFamas}} },
		{ name: 'AUG',           kills: {{.UserStatsForGame.Stats.TotalHitsAug}} },
		{ name: 'AK-47',         kills: {{.UserStatsForGame.Stats.TotalHitsAk47}} },
		{ name: 'AWP',           kills: {{.UserStatsForGame.Stats.TotalHitsAwp}} },
		{ name: 'P90',           kills: {{.UserStatsForGame.Stats.TotalHitsP90}} },
		{ name: 'UMP-45',        kills: {{.UserStatsForGame.Stats.TotalHitsUmp45}} },
		{ name: 'MAC-10',        kills: {{.UserStatsForGame.Stats.TotalHitsMac10}} },
		{ name: 'XM1014',        kills: {{.UserStatsForGame.Stats.TotalHitsXm1014}} },
		{ name: 'Five-SeveN',    kills: {{.UserStatsForGame.Stats.TotalHitsFiveseven}} },
		{ name: 'Dual Berettas', kills: {{.UserStatsForGame.Stats.TotalHitsElite}} },
		{ name: 'Desert Eagle',  kills: {{.UserStatsForGame.Stats.TotalHitsDeagle}} },
		{ name: 'Glock-18',      kills: {{.UserStatsForGame.Stats.TotalHitsGlock}} }

	]

var dataAxis = data.sort((a, b) => b.kills - a.kills).map(e => e.name)

</script>

<div id="container-weapons" style="width: 100%; height: 300px;"></div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js" ></script>
<script charset="utf-8">
	var chartWeapons = document.getElementById("container-weapons");
	var myChartWeapons = echarts.init(chartWeapons);
	var app = {};
	optionChartWeapons = null;
	optionChartWeapons = {
		xAxis: {
			data: dataAxis,
			type: 'category',
			axisLabel: {
				interval: 0,
				rotate: 45
			}
		},
		yAxis: {
			type: 'value'
		},
		series: [{
			name: 'Weapons',
			type: 'bar',
			data: data.map(e => e.kills)
		}]
	};

	if (optionChartWeapons && typeof optionChartWeapons === "object") {
		myChartWeapons.setOption(optionChartWeapons, true);
	}
	$(window).resize(function() {
		myChartWeapons.resize();
	});
</script>
