
<style type="text/css" media="screen">
.col {
	<!-- border: 1px solid red; -->
}
.chart-overview-row {
	height: 80px;
}

</style>

<div class="row">
	<div class="col s4">
		<div class="card blue-grey">
			<div class="card-content blue-grey darken-3 white-text">
				<div class="container">
					<div class="row chart-overview-row valign-wrapper">
						<div class="col s7">
							<p class="orange-text">KILLS</p>
							<p> {{.UserStatsForGame.Stats.TotalKills}} </p>
						</div>
						<div class="col s5"> <img style="width:100%" class="left" src="/public/img/icons/kills.svg"> </div>
					</div>
					<div class="row chart-overview-row valign-wrapper">
						<div class="col s7">
							<p class="orange-text">TIME</p>
							<p> {{.UserStatsForGame.Extra.PlayedHours}}h </p>
						</div>
						<div class="col s5"> <img style="width:100%" class="left" src="/public/img/icons/timer.svg"> </div>
					</div>
					<div class="row chart-overview-row valign-wrapper">
						<div class="col s7">
							<p class="orange-text">WIN</p>
							<p>	{{.Calc.PercentWin}}% </p>
						</div>
						<div class="col s5"> <img style="width:100%" class="left" src="/public/img/icons/win-cup.svg"> </div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col s4" id="details-kd-chart"> </div>

	<div class="col s4">
		<div class="card blue-grey">
			<div class="card-content blue-grey darken-3 white-text">
				<div class="container">
					<div class="row chart-overview-row valign-wrapper right-align">
						<div class="col s5"> <img style="width:100%" class="left" src="/public/img/icons/target.svg"> </div>
						<div class="col s7">
							<p class="orange-text">ACCURACY</p>
							<p> {{.Calc.PercentAccuracy}}% </p>
						</div>
					</div>
					<div class="row chart-overview-row valign-wrapper right-align">
						<div class="col s5"> <img style="width:100%" class="left" src="/public/img/icons/headshot.svg"> </div>
						<div class="col s7">
							<p class="orange-text">HEADSHOT</p>
							<p> {{.Calc.PercentHeadshot}}% </p>
						</div>
					</div>
					<div class="row chart-overview-row valign-wrapper right-align">
						<div class="col s5"> <img style="width:100%" class="left" src="/public/img/icons/star.svg"> </div>
						<div class="col s7">
							<p class="orange-text">MVPs</p>
							<p> {{.UserStatsForGame.Stats.TotalMvps}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<script charset="utf-8">

	Highcharts.chart('details-kd-chart', {
	chart: {
		plotBackgroundColor: null,
		plotBorderWidth: 0,
		plotShadow: false
	},
	title: {
		text: '{{.UserStatsForGame.Extra.TotalKD}}',
		align: 'center',
		verticalAlign: 'middle',
	},
	tooltip: {
		pointFormat: '<b>{point.y:.0f}</b>'
	},
	accessibility: {
		point: {
			valueSuffix: '%'
		}
	},
	plotOptions: {
		pie: {
			dataLabels: {
				enabled: true,
				distance: -50,
				style: {
					fontWeight: 'bold',
					color: 'white'
				}
			},
			startAngle: 0,
			endAngle: 0,
		}
	},
	series: [{
		type: 'pie',
		name: 'Percentage',
		innerSize: '50%',
		data: [
			{
				name: "Kills",
				y: {{.UserStatsForGame.Stats.TotalKills}},
				color: 'darkblue',
			},
			{
				name: 'Deaths',
				y: {{.UserStatsForGame.Stats.TotalDeaths}},
				color: 'darkred',

			}
		]
	}]
});
</script>
