<div id="accuracy-chart"></div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script charset="utf-8">

	google.charts.load('current', {packages: ['corechart', 'line']});
	google.charts.setOnLoadCallback(drawBasic);

function drawBasic() {

	  var data = new google.visualization.DataTable();
	  data.addColumn('datetime', 'X');
	  data.addColumn('number', 'Hit-Ratio');


	  data.addRows([
			 {{range .PlayerHistory.Data }} [new Date('{{.Time}}'), {{.HitRatio}}], {{end}}
	  ]);

	  var options = {
		hAxis: {
		  //title: 'Time'
		},
		vAxis: {
		  //title: 'Popularity'
		}
	  };

	  var chart = new google.visualization.LineChart(document.getElementById('accuracy-chart'));

	  chart.draw(data, options);
	}

</script>


<div id="kd-chart"></div>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script charset="utf-8">

	google.charts.load('current', {packages: ['corechart', 'line']});
	google.charts.setOnLoadCallback(drawBasic);

function drawBasic() {

	  var data = new google.visualization.DataTable();
	  data.addColumn('datetime', 'X');
	  data.addColumn('number', 'KD');


	  data.addRows([
			 {{range .PlayerHistory.Data }} [new Date('{{.Time}}'), {{.TotalKD}}], {{end}}
	  ]);

	  var options = {
		hAxis: {
		  //title: 'Time'
		},
		vAxis: {
		  //title: 'KD'
		}
	  };

	  var chart = new google.visualization.LineChart(document.getElementById('kd-chart'));
	  chart.draw(data, options);
	}

</script>
