<div class="row">
	<div class="col s12">
		<div id="container-maps" style="width: 100%; height: 300px;"></div>
	</div>
</div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js" ></script>
<script charset="utf-8">
 var dataMaps = [

	['Baggage',    <<.UserStatsForGame.Stats.TotalWinsMapArBaggage>>,    <<.UserStatsForGame.Stats.TotalRoundsMapArBaggage>>    - <<.UserStatsForGame.Stats.TotalWinsMapArBaggage>>],
	['Monastery',  <<.UserStatsForGame.Stats.TotalWinsMapArMonastery>>,  <<.UserStatsForGame.Stats.TotalRoundsMapArMonastery>>  - <<.UserStatsForGame.Stats.TotalWinsMapArMonastery>>],
	['Shoots',     <<.UserStatsForGame.Stats.TotalWinsMapArShoots>>,     <<.UserStatsForGame.Stats.TotalRoundsMapArShoots>>     - <<.UserStatsForGame.Stats.TotalWinsMapArShoots>>],
	['Assault',    <<.UserStatsForGame.Stats.TotalWinsMapCsAssault>>,    <<.UserStatsForGame.Stats.TotalRoundsMapCsAssault>>    - <<.UserStatsForGame.Stats.TotalWinsMapCsAssault>>],
	['Italy',      <<.UserStatsForGame.Stats.TotalWinsMapCsItaly>>,      <<.UserStatsForGame.Stats.TotalRoundsMapCsItaly>>      - <<.UserStatsForGame.Stats.TotalWinsMapCsItaly>>],
	['Militia',    <<.UserStatsForGame.Stats.TotalWinsMapCsMilitia>>,    <<.UserStatsForGame.Stats.TotalRoundsMapCsMilitia>>    - <<.UserStatsForGame.Stats.TotalWinsMapCsMilitia>>],
	['Office',     <<.UserStatsForGame.Stats.TotalWinsMapCsOffice>>,     <<.UserStatsForGame.Stats.TotalRoundsMapCsOffice>>     - <<.UserStatsForGame.Stats.TotalWinsMapCsOffice>>],
	['Aztec',      <<.UserStatsForGame.Stats.TotalWinsMapDeAztec>>,      <<.UserStatsForGame.Stats.TotalRoundsMapDeAztec>>      - <<.UserStatsForGame.Stats.TotalWinsMapDeAztec>>],
	['Bank',       <<.UserStatsForGame.Stats.TotalWinsMapDeBank>>,       <<.UserStatsForGame.Stats.TotalRoundsMapDeBank>>       - <<.UserStatsForGame.Stats.TotalWinsMapDeBank>>],
	['Cobblestone',      <<.UserStatsForGame.Stats.TotalWinsMapDeCbble>>,      <<.UserStatsForGame.Stats.TotalRoundsMapDeCbble>>      - <<.UserStatsForGame.Stats.TotalWinsMapDeCbble>>],
	['Dust',       <<.UserStatsForGame.Stats.TotalWinsMapDeDust>>,       <<.UserStatsForGame.Stats.TotalRoundsMapDeDust>>       - <<.UserStatsForGame.Stats.TotalWinsMapDeDust>>],
	['Dust2',      <<.UserStatsForGame.Stats.TotalWinsMapDeDust2>>,      <<.UserStatsForGame.Stats.TotalRoundsMapDeDust2>>      - <<.UserStatsForGame.Stats.TotalWinsMapDeDust2>>],
	['Inferno',    <<.UserStatsForGame.Stats.TotalWinsMapDeInferno>>,    <<.UserStatsForGame.Stats.TotalRoundsMapDeInferno>>    - <<.UserStatsForGame.Stats.TotalWinsMapDeInferno>>],
	['Lake',       <<.UserStatsForGame.Stats.TotalWinsMapDeLake>>,       <<.UserStatsForGame.Stats.TotalRoundsMapDeLake>>       - <<.UserStatsForGame.Stats.TotalWinsMapDeLake>>],
	['Nuke',       <<.UserStatsForGame.Stats.TotalWinsMapDeNuke>>,       <<.UserStatsForGame.Stats.TotalRoundsMapDeNuke>>       - <<.UserStatsForGame.Stats.TotalWinsMapDeNuke>>],
	['Safehouse',  <<.UserStatsForGame.Stats.TotalWinsMapDeSafehouse>>,  <<.UserStatsForGame.Stats.TotalRoundsMapDeSafehouse>>  - <<.UserStatsForGame.Stats.TotalWinsMapDeSafehouse>>],
	['Shorttrain', <<.UserStatsForGame.Stats.TotalWinsMapDeShorttrain>>, <<.UserStatsForGame.Stats.TotalRoundsMapDeShorttrain>> - <<.UserStatsForGame.Stats.TotalWinsMapDeShorttrain>>],
	['Stmarc',     <<.UserStatsForGame.Stats.TotalWinsMapDeStmarc>>,     <<.UserStatsForGame.Stats.TotalRoundsMapDeStmarc>>     - <<.UserStatsForGame.Stats.TotalWinsMapDeStmarc>>],
	['Sugarcane',  <<.UserStatsForGame.Stats.TotalWinsMapDeSugarcane>>,  <<.UserStatsForGame.Stats.TotalRoundsMapDeSugarcane>>  - <<.UserStatsForGame.Stats.TotalWinsMapDeSugarcane>>],
	['Train',      <<.UserStatsForGame.Stats.TotalWinsMapDeTrain>>,      <<.UserStatsForGame.Stats.TotalRoundsMapDeTrain>>      - <<.UserStatsForGame.Stats.TotalWinsMapDeTrain>>],
	['Vertigo',    <<.UserStatsForGame.Stats.TotalWinsMapDeVertigo>>,    <<.UserStatsForGame.Stats.TotalRoundsMapDeVertigo>>    - <<.UserStatsForGame.Stats.TotalWinsMapDeVertigo>>]
]

dataMaps.sort((a,b) => (b[1] + b[2]) - (a[1] + a[2]) )
var chartMaps = document.getElementById("container-maps");
var myChartMaps = echarts.init(chartMaps);
var app = {};
optionChartMaps = null;
optionChartMaps = {
	legend: {
		data: ['won','lost'],
		orient: 'horizontal',
		align: 'right'
	},
    xAxis: {
        data: dataMaps.map(e => e[0]),
		type: 'category',
		axisLabel: {
			interval: 0,
			rotate: 45
		}
    },
    yAxis: {
        type: 'value'
    },
    series: [
		{
			name: 'won',
			type: 'bar',
			data: dataMaps.map(e => e[1]),
			stack: 'totalRounds',
			itemStyle: {
				color: '#4caf50'
			}
		},
		{
			name: 'lost',
			type: 'bar',
			data: dataMaps.map(e => e[1]),
			stack: 'totalRounds',
			itemStyle: {
				color: '#c23531'
			}			
		},
	]
};


if (optionChartMaps && typeof optionChartMaps === "object") {
    myChartMaps.setOption(optionChartMaps, true);
}
$(window).resize(function() {
	myChartMaps.resize();
});
</script>
