

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<style type="text/css" media="screen">
.highcharts-figure, .highcharts-data-table table {
	min-width: 320px;
	max-width: 800px;
	height: 400px;
	margin: 1em auto;
}

.highcharts-data-table table {
	font-family: Verdana, sans-serif;
	border-collapse: collapse;
	border: 1px solid #EBEBEB;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}
.highcharts-data-table caption {
	padding: 1em 0;
	font-size: 1.2em;
	color: #555;
}
.highcharts-data-table th {
	font-weight: 600;
	padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
	padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
	background: #f8f8f8;
}
.highcharts-data-table tr:hover {
	background: #f1f7ff;
}
</style>
<script charset="utf-8">

	Highcharts.chart('chart-bubble', {
	chart: {
		type: 'packedbubble',
		height: '40%'
	},
	title: {
		text: null
	},
	tooltip: {
		useHTML: true,
		pointFormat: '<b>{point.name}:</b> {point.value}m CO<sub>2</sub>'
	},
	plotOptions: {
		packedbubble: {
			minSize: '30%',
			maxSize: '120%',
			zMin: 0,
			zMax: 1000,
			layoutAlgorithm: {
				splitSeries: false,
				gravitationalConstant: 0.02
			},
			dataLabels: {
				enabled: true,
				format: '{point.name}',
				filter: {
					property: 'y',
					operator: '>',
					value: 250
				},
				style: {
					color: 'black',
					textOutline: 'none',
					fontWeight: 'normal'
				}
			}
		}
	},
	series: [{
		name: 'Europe',
		data: [{
			name: 'Germany',
			value: 767.1
		}, {
			name: 'Croatia',
			value: 20.7
		},
		{
			name: "Cyprus",
			value: 7.2
		}]
	}, {
		name: 'Africa',
		data: [{
			name: "Senegal",
			value: 8.2
		},
		{
			name: "South Africa",
			value: 392.7
		}, {
			name: "Egypt",
			value: 225.1
		}, {
			name: "Algeria",
			value: 141.5
		}]
	}]
});
</script>








