<div class="row">

	<div class="col s4">
		<div>
			<p class="right-align">

			<div class="card blue-grey darken-3">
				<div class="card-content white-text right-align">
				<div class="row">
					<div class="col s2 right-align">
						<span class="orange-text">KILLS</span>
						<span style="font-size:40">{{.UserStatsForGame.Stats.TotalKills}}</span>
					</div>
					<div class="col s2 offset-s2 right-align">
						<img height="60" src="/public/img/icons/kills.svg">
					</div>
				</div>
				</div>
			</div>

			<div class="card blue-grey darken-2">
				<div class="card-content white-text right-align">

				<div class="row">
					<div class="col s2 right-align">
						<span class="orange-text">TIME PLAYED</span>
						<span style="font-size:40">{{.UserStatsForGame.Extra.PlayedHours}}h</span>
					</div>
					<div class="col s2 offset-s2 right-align">
						<img height="60" src="/public/img/icons/timer.svg">
					</div>
				</div>

				</div>
			</div>
			<div class="card blue-grey darken-1">
				<div class="card-content white-text right-align">




				<div class="row">
					<div class="col s2 right-align">
						<span class="orange-text">WIN</span>
						<span style="font-size:40">{{.Calc.PercentWin}}%</span>
					</div>
					<div class="col s2 offset-s2 right-align">
						<img height="60" src="/public/img/icons/win-cup.svg">
					</div>
				</div>


				</div>
			</div>
			</p>
		</div>
	</div>
	<div class="col s4">
		<p class="center-align">
		<div id="container-kd" style="width:100%; height:300px;"></div>
		</p>
	</div>
	<div class="col s4">
		<p class="left-align">

		<div class="card blue-grey darken-3">
			<div class="card-content white-text">
				<div class="row">
					<div class="col s2">
						<img height="60" src="/public/img/icons/target.svg">
					</div>
					<div class="col s2 offset-s2">
						<span class="orange-text">ACCURACY</span>
						<span style="font-size:40">{{.Calc.PercentAccuracy}}%</span>
					</div>
				</div>
			</div>
		</div>

		<div class="card blue-grey darken-2">
			<div class="card-content white-text">
				<div class="row">
					<div class="col s2">
						<img height="60" src="/public/img/icons/headshot.svg">
					</div>
					<div class="col s2 offset-s2">
						<span class="orange-text">HEADSHOT</span>
						<span style="font-size:40">{{.Calc.PercentHeadshot}}%</span>
					</div>
				</div>
			</div>
		</div>
		<div class="card blue-grey darken-1">
			<div class="card-content white-text">
				<div class="row">
					<div class="col s2">
						<img height="60" src="/public/img/icons/star.svg">
					</div>
					<div class="col s2 offset-s2">
						<span class="orange-text">MVPs</span>
						<span style="font-size:40">{{.UserStatsForGame.Stats.TotalMvps}}</span>
					</div>
				</div>
			</div>
		</div>

		</p>
	</div>

</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
<script charset="utf-8">

var chartKd = document.getElementById("container-kd");
var myChartOverview = echarts.init(chartKd);
var app = {};
option = null;

	option = {
	tooltip: {
		trigger: 'item',
		formatter: '{b}: {c} ({d}%)'
	},
	series: [
		{
			name: '',
			type: 'pie',
			radius: ['50%', '70%'],
			avoidLabelOverlap: true,
			label: {
				show: true,
						formatter: '1.03',
						fontSize: '40',

				position: 'center'
			},
			emphasis: {
				label: {
					show: false,
					fontSize: '60',
					fontWeight: 'bold'
				}
			},
			labelLine: {
				show: false
			},
			data: [
				{value: 2000, name: 'Kills'},
				{value: 1548, name: 'Deaths'}
			]
		}
	]
};

if (option && typeof option === "object") {
	myChartOverview.setOption(option, true);
}

$(window).resize(function() {
	myChartOverview.resize();
});
</script>
