<div id="online-time-chart"></div>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script charset="utf-8">

	google.charts.load('current', {packages: ['corechart', 'line']});
	google.charts.setOnLoadCallback(drawBasic);

function drawBasic() {

	  var data = new google.visualization.DataTable();
	  data.addColumn('datetime', 'X');
	  data.addColumn('number', 'KD');


	  data.addRows([
			 {{range .PlayerHistory.Data }} [new Date('{{.Time}}'), {{.Playtime2Weeks}}], {{end}}
	  ]);

	  var options = {
		hAxis: {
		  //title: 'Time'
		},
		vAxis: {
		  //title: 'KD'
		}
	  };

	  var chart = new google.visualization.LineChart(document.getElementById('online-time-chart'));
	  chart.draw(data, options);
	}

</script>
