{{template "header.html"}}
<div class="row">
	<div class="col s12 m12 l12">
		<h3 class="white-text">
            <i class="medium material-icons header-icon">fingerprint</i>&nbsp;DETAILS - {{.PlayerSummary.Personaname}}
        </h3>
	</div>
</div>
<div class="row">
	<div class="col s12 m12 l6">
        <div class="card blue-grey darken-2">
            <div class="card-content white-text">
                <span class="card-title">Weapons</span>
                <canvas id="weaponsChart" width="400" height="400"></canvas>
            </div>
        </div>
    </div>
	<div class="col s12 m12 l6">
        <div class="card blue-grey darken-2">
            <div class="card-content white-text">
                <span class="card-title">Maps</span>
                <canvas id="mapsChart" width="400" height="400"></canvas>
            </div>
        </div>
    </div>
</div>

<!-- 
    <script src="/public/js/weapons.js"></script>
    <script src="/public/js/maps.js"></script> 
-->

<script>
var ctx = document.getElementById('weaponsChart');
var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: [
            // --------  Close Range  --------  
            'Knife', 
            // 'Zeus x27',
            
            // --------  Pistoles  --------  
            // 'CZ75-Auto',
            'Desert Eagle',
            // 'Dual Berettas',
            'Five Seven',
            'Glock', 
            'P250',
            'P2000',
            // 'R8 Revolver',
            'Tec-9', 
            // 'USP-S',

            // --------  SMG  --------  
            'MAC-10',
            // 'MP5-SD',
            'MP7',
            'MP9',
            // 'M4A4',
            'P90',
            'PP-Bizon', 
            // 'SSG 08',
            'UMP-45',

            // --------  Rifles  --------
            'AK 47',
            'AUG', 
            'AWP',
            'Famas',
            'Galil AR',
            'G3SG1',
            'M4A1-S',
            'SG 556',
            'SCAR-20', 

            // --------  Heavy  --------
            'MAG-7',
            'M249',
            'Negev',
            'Nova',
            'Sawed off',
            'XM1014',

            // --------  Grenades  --------
            'HE Grenade',
            'Molotov'
        ],
        datasets: [{
            label: '# of kills',
            data: [
                // --------  Close Range  --------  
                {{ index .UserStatsForGame.Stats "total_kills_knife"}},
                // 'Zeus x27',

                // --------  Pistoles  --------  
                // 'CZ75-Auto',
                {{ index .UserStatsForGame.Stats "total_kills_deagle"}},
                // 'Dual Berettas',
                {{ index .UserStatsForGame.Stats "total_kills_fiveseven"}},
                {{ index .UserStatsForGame.Stats "total_kills_glock"}},
                {{ index .UserStatsForGame.Stats "total_kills_p250"}},
                {{ index .UserStatsForGame.Stats "total_kills_hkp2000"}},
                // 'R8 Revolver',
                {{ index .UserStatsForGame.Stats "total_kills_tec9"}},
                // 'USP-S',

                // --------  SMG  --------  
                {{ index .UserStatsForGame.Stats "total_kills_mac10"}},
                 // 'MP5-SD',
                {{ index .UserStatsForGame.Stats "total_kills_mp7"}},
                {{ index .UserStatsForGame.Stats "total_kills_mp9"}},
                // 'M4A4',
                {{ index .UserStatsForGame.Stats "total_kills_p90"}},
                {{ index .UserStatsForGame.Stats "total_kills_bizon"}},
                // 'SSG 08',
                {{ index .UserStatsForGame.Stats "total_kills_ump45"}},

                // --------  Rifles  --------
                {{ index .UserStatsForGame.Stats "total_kills_ak47"}},
                {{ index .UserStatsForGame.Stats "total_kills_aug"}},
                {{ index .UserStatsForGame.Stats "total_kills_awp"}},
                {{ index .UserStatsForGame.Stats "total_kills_famas"}},
                {{ index .UserStatsForGame.Stats "total_kills_galilar"}},
                {{ index .UserStatsForGame.Stats "total_kills_g3sg1"}},
                {{ index .UserStatsForGame.Stats "total_kills_m4a1"}},
                {{ index .UserStatsForGame.Stats "total_kills_sg556"}},
                {{ index .UserStatsForGame.Stats "total_kills_scar20"}}, 
                
                // --------  Heavy  --------
                {{ index .UserStatsForGame.Stats "total_kills_mag7"}},
                {{ index .UserStatsForGame.Stats "total_kills_m249"}},
                {{ index .UserStatsForGame.Stats "total_kills_negev"}},
                {{ index .UserStatsForGame.Stats "total_kills_nova"}},
                {{ index .UserStatsForGame.Stats "total_kills_sawedoff"}},
                {{ index .UserStatsForGame.Stats "total_kills_xm1014"}},  
                
                // --------  Grenades  --------
                {{ index .UserStatsForGame.Stats "total_kills_hegrenade"}},
                {{ index .UserStatsForGame.Stats "total_kills_molotov"}}
            ],
            backgroundColor: [
                // --------  Close Range  --------
                'rgba(255, 99, 132, 0.9)',
                // 'rgba(255, 99, 132, 0.8)',

                // --------  Pistoles  -------- 
                // 'rgba(54, 162, 235, 0.9)', 
                'rgba(54, 162, 235, 0.8)', 
                // 'rgba(54, 162, 235, 0.7)', 
                'rgba(54, 162, 235, 0.6)', 
                'rgba(54, 162, 235, 0.5)', 
                'rgba(54, 162, 235, 0.4)', 
                'rgba(54, 162, 235, 0.3)', 
                // 'rgba(54, 162, 235, 0.2)', 
                'rgba(54, 162, 235, 0.1)', 
                // 'rgba(54, 162, 235, 0.8)', 

                // --------  SMG  --------  
                'rgba(255, 206, 86, 0.9)',
                // 'rgba(255, 206, 86, 0.8)',
                'rgba(255, 206, 86, 0.7)',
                'rgba(255, 206, 86, 0.6)',
                // 'rgba(255, 206, 86, 0.5)',
                'rgba(255, 206, 86, 0.4)',
                'rgba(255, 206, 86, 0.3)',
                // 'rgba(255, 206, 86, 0.2)',
                'rgba(255, 206, 86, 0.1)',

                // --------  Rifles  --------
                'rgba(75, 192, 192, 0.9)',
                'rgba(75, 192, 192, 0.8)',
                'rgba(75, 192, 192, 0.7)',
                'rgba(75, 192, 192, 0.6)',
                'rgba(75, 192, 192, 0.5)',
                'rgba(75, 192, 192, 0.4)',
                'rgba(75, 192, 192, 0.3)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(75, 192, 192, 0.1)',

                // --------  Heavy  --------
                'rgba(153, 102, 255, 0.9)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(153, 102, 255, 0.7)',
                'rgba(153, 102, 255, 0.6)',
                'rgba(153, 102, 255, 0.5)',
                'rgba(153, 102, 255, 0.4)',

                // --------  Grenades  --------
                'rgba(255, 159, 64, 0.9)', 
                'rgba(255, 159, 64, 0.8)' 
            ],
            borderColor: [
                // --------  Close Range  --------
                'rgba(255, 99, 132, 1)',
                // 'rgba(255, 99, 132, 1)',

                // --------  Pistoles  -------- 
                // 'rgba(54, 162, 235, 1)', 
                'rgba(54, 162, 235, 1)', 
                // 'rgba(54, 162, 235, 1)', 
                'rgba(54, 162, 235, 1)', 
                'rgba(54, 162, 235, 1)', 
                'rgba(54, 162, 235, 1)', 
                'rgba(54, 162, 235, 1)', 
                // 'rgba(54, 162, 235, 1)', 
                'rgba(54, 162, 235, 1)', 
                // 'rgba(54, 162, 235, 1)', 

                // --------  SMG  --------  
                'rgba(255, 206, 86, 1)',
                // 'rgba(255, 206, 86, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(255, 206, 86, 1)',
                // 'rgba(255, 206, 86, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(255, 206, 86, 1)',
                // 'rgba(255, 206, 86, 1)',
                'rgba(255, 206, 86, 1)',

                // --------  Rifles  --------
                'rgba(75, 192, 192, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(75, 192, 192, 1)',

                // --------  Heavy  --------
                'rgba(153, 102, 255, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(153, 102, 255, 1)',

                // --------  Grenades  --------
                'rgba(255, 159, 64, 1)', 
                'rgba(255, 159, 64, 1)' 
            ],
            borderWidth: 1
        }]
    },
    options: {
        legend: {
            labels: {
                // This more specific font property overrides the global property
                fontColor: 'white'
            },
            position: 'bottom',
            align: 'start'
        }
    }
});
</script>

<script>
var ctx = document.getElementById('mapsChart');
var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: [
            "Baggage",
            "Bank",
            "CBBL",
            "Dust",
            "Dust 2",
            "Inferno",
            "Italy",
            "Lake",
            "Nuke",
            "Safehouse",
            "St. Marc",
            "Sugarcane",
            "Train",
            "Vertigo"
        ],
        datasets: [{
            label: 'Maps',
            data: [
                {{ index .UserStatsForGame.Stats "total_wins_map_ar_baggage"}},
                {{ index .UserStatsForGame.Stats "total_wins_map_de_bank"}},
                {{ index .UserStatsForGame.Stats "total_wins_map_de_cbble"}},
                {{ index .UserStatsForGame.Stats "total_wins_map_de_dust"}},
                {{ index .UserStatsForGame.Stats "total_wins_map_de_dust2"}},
                {{ index .UserStatsForGame.Stats "total_wins_map_de_inferno"}},
                {{ index .UserStatsForGame.Stats "total_wins_map_cs_italy"}},
                {{ index .UserStatsForGame.Stats "total_wins_map_de_lake"}},
                {{ index .UserStatsForGame.Stats "total_wins_map_de_nuke"}},
                {{ index .UserStatsForGame.Stats "total_wins_map_de_safehouse"}},
                {{ index .UserStatsForGame.Stats "total_wins_map_de_stmarc"}},
                {{ index .UserStatsForGame.Stats "total_wins_map_de_sugarcane"}},
                {{ index .UserStatsForGame.Stats "total_wins_map_de_train"}},
                {{ index .UserStatsForGame.Stats "total_wins_map_de_vertigo"}},
            ],
            backgroundColor: [
                'rgba(255, 99, 132, 0.9)',
                'rgba(255, 99, 132, 0.85)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(255, 99, 132, 0.75)',
                'rgba(255, 99, 132, 0.7)',
                'rgba(255, 99, 132, 0.65)',
                'rgba(255, 99, 132, 0.6)',
                'rgba(255, 99, 132, 0.55)',
                'rgba(255, 99, 132, 0.5)',
                'rgba(255, 99, 132, 0.45)',
                'rgba(255, 99, 132, 0.4)',
                'rgba(255, 99, 132, 0.35)',
                'rgba(255, 99, 132, 0.3)',
                'rgba(255, 99, 132, 0.25)',      
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(255, 99, 132, 1)',       
            ],
            borderWidth: 1
        }]
    },
    options: {
        legend: {
            labels: {
                // This more specific font property overrides the global property
                fontColor: 'white'
                
            },
            position: 'bottom',
            align: 'start'
        }
    }
});
</script>

{{template "footer.html"}}