<go>template "header.html"</go>
<script>
	$( "#header-link-stats" ).addClass( "active" );
</script>

<div class="row">
	<div class="col s12 m12 l12">
		<h3 class="white-text">
			<i class="medium material-icons header-icon">fingerprint</i>&nbsp;DETAILS
		</h3>
	</div>
</div>
<div class="row">
	<div class="card indigo darken-2">
		<div class="card-content white-text">
			<div class="row">
				<div class="col s12 detail__player">
					<img src="<go>.PlayerSummary.Avatarfull</go>" class="circle" alt="">
					<div>
						<h3><go>.PlayerSummary.Personaname</go></h3>
						<p>Status:&nbsp;&nbsp;&nbsp;
						<go>if eq .PlayerSummary.Personastate "0"</go>
						<span class="new badge red inline-badge" data-badge-caption="">offline</span>
						<go>else</go>
						<span class="new badge green inline-badge" data-badge-caption="">online</span>
						<go>end</go>
						</p>
						<p>Steam ID: &nbsp;<a href="<go>.PlayerSummary.Profileurl</go>" target="_blank"><go>.PlayerSummary.SteamID</go></a></p>
					</div>
				</div>
			</div>
			<!-- TODO add playtime chart/calendar -->
			<!-- <div class="row" style="margin-bottom: 0;"> -->
				<!-- <div class="col s12"> -->
					<!-- <div class="indigo darken-3" style="padding: 1rem;"> -->
						<!-- <go>template "chart-online-time.html" .</go> -->
					<!-- </div> -->
				<!-- </div> -->
			<!-- </div> -->
		</div>
	</div>
</div>

<div class="row indigo">
	<div class="col s12">
		<ul class="tabs tabs-fixed-width tabs-transparent indigo">
			<li class="tab col">
				<a href="#detailsOverview" class="active">
					<i class="material-icons">timeline</i>Overview
				</a>
			</li>
			<li class="tab col">
				<a href="#detailsMatches">
					<i class="material-icons">multiline_chart</i>Matches
				</a>
			</li>
			<li class="tab col">
				<a href="#detailsMaps">
					<i class="material-icons">terrain</i>Maps
				</a>
			</li>
			<li class="tab col">
				<a href="#detailsWeapons">
					<i class="material-icons">whatshot</i>Weapons
				</a>
			</li>
		</ul>
	</div>

	<div id="detailsOverview" class="col s12 indigo">
		<go>template "player-overview.html" .</go>
	</div>
	<div id="detailsMatches" class="col s12 indigo">
		<go>template "player-matches.html" .</go>
	</div>
	<div id="detailsMaps" class="col s12 indigo">
		<go>template "player-maps.html" .</go>
	</div>
	<div id="detailsWeapons" class="col s12 indigo">
		<go>template "player-weapons.html" .</go>
	</div>
</div>

<script>
$(document).ready(function(){
    $('.tabs').tabs();
});
</script>

<div class="row">
</div>
