{{template "header.html"}}

<div class="row">
	<div class="col s12 m12 l12">
		<h3 class="white-text">
            <i class="medium material-icons header-icon">chat</i>&nbsp;FAQ
        </h3>
	</div>
</div>
<div class="row">
	<div class="col s12 m12 l12">
		<ul class="collapsible">
            <li>
                <div class="collapsible-header blue-grey darken-2 white-text"><i class="material-icons">format_quote</i>Wer ist der Geilste hier?</div>
                <div class="collapsible-body white"><span>Du nicht du Otto!</span></div>
            </li>
            <li>
                <div class="collapsible-header blue-grey darken-2 white-text"><i class="material-icons">format_quote</i>Wer hat den längsten Pimmel?</div>
                <div class="collapsible-body white"><span>Deine Oma</span></div>
            </li>
            <li>
                <div class="collapsible-header blue-grey darken-2 white-text"><i class="material-icons">format_quote</i>Und jetzt ohne Witz</div>
                <div class="collapsible-body white"><span>Na Kapo natürlich. Man nennt ihn den Dreibeinigen!</span></div>
            </li>
        </ul>
	</div>
</div>

<script>
  $(document).ready(function(){
    $('.collapsible').collapsible();
  });
</script>

{{template "footer.html"}}