<html>
	<head>
		<!-- CSS Libs -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">		
		<link rel="shortcut icon" href="/public/img/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/public/img/favicon.ico" type="image/x-icon">
		<link  rel="stylesheet" href="/public/css/custom.css">
		
		<!-- JS Libs -->
		<script
			  src="https://code.jquery.com/jquery-3.5.0.min.js"
			  integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
			  crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
		
		<meta name="robots" content="noindex">
		<title>megaclan3000</title>
	</head>
	<body class="blue-grey darken-4">
		<nav>
			<div class="nav-wrapper blue-grey darken-2">
				<a href="/" class="brand-logo"><img src="/public/img/navbar-logo.png" class="navbar-logo" height="auto" /></a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="/stats" class="navbar-link">Player Stats</a></li>
					<li><a href="/contact" class="navbar-link">Contact</a></li>
					<li><a href="/faq" class="navbar-link">FAQ</a></li>
				</ul>
			</div>
		</nav>
		<div class="container main-content">
