{{template "header.html"}}
    <div class="row"> &nbsp;</div>
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card blue-grey darken-2">
                <div class="card-content white-text">
                    <center>
                        <img src="/public/img/logo-main.png" class="responsive-img main-logo" />
                    </center>
                </div>
            </div>
        </div>
    </div>            

    <div class="row">
        <div class="col s12 m12 l6">
            <div class="card blue-grey darken-2">
                <div class="card-image">
                    <img src="/public/img/stats-card.png">
                    <span class="card-title white-text">Player Stats</span>
                </div>
                <div class="card-content white-text">
                    Check out how mega our players are!
                </div>
                <div class="card-action">
                    <a href="/stats" class="waves-effect waves-light btn orange darken-4"><i class="material-icons left">equalizer</i>Go to stats page</a>
                </div>
            </div>
        </div>
        <div class="col s12 m12 l6">
            <div class="card blue-grey darken-2">
                <div class="card-image">
                    <img src="/public/img/faq-card.png">
                    <span class="card-title white-text">FAQ</span>
                </div>
                <div class="card-content white-text">
                    You still got stupid questions? Click here to find 3000 answers!
                </div>
                <div class="card-action">
                    <a href="/faq" class="waves-effect waves-light btn orange darken-4"><i class="material-icons left">chat</i>Go to faq page</a>
                </div>
            </div>
        </div>
    </div>

{{template "footer.html"}}
