<script>
    var ctx = document.getElementById('mapsChart');
    var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: [
                "Baggage",
                "Bank",
                "CBBL",
                "Dust",
                "Dust 2",
                "Inferno",
                "Italy",
                "Lake",
                "Nuke",
                "Safehouse",
                "St. Marc",
                "Sugarcane",
                "Train",
                "Vertigo"
            ],
            datasets: [{
                label: 'Maps',
                data: [
                    {{ index .UserStatsForGame.Stats "total_wins_map_ar_baggage"}},
                    {{ index .UserStatsForGame.Stats "total_wins_map_de_bank"}},
                    {{ index .UserStatsForGame.Stats "total_wins_map_de_cbble"}},
                    {{ index .UserStatsForGame.Stats "total_wins_map_de_dust"}},
                    {{ index .UserStatsForGame.Stats "total_wins_map_de_dust2"}},
                    {{ index .UserStatsForGame.Stats "total_wins_map_de_inferno"}},
                    {{ index .UserStatsForGame.Stats "total_wins_map_cs_italy"}},
                    {{ index .UserStatsForGame.Stats "total_wins_map_de_lake"}},
                    {{ index .UserStatsForGame.Stats "total_wins_map_de_nuke"}},
                    {{ index .UserStatsForGame.Stats "total_wins_map_de_safehouse"}},
                    {{ index .UserStatsForGame.Stats "total_wins_map_de_stmarc"}},
                    {{ index .UserStatsForGame.Stats "total_wins_map_de_sugarcane"}},
                    {{ index .UserStatsForGame.Stats "total_wins_map_de_train"}},
                    {{ index .UserStatsForGame.Stats "total_wins_map_de_vertigo"}},
                ],
                backgroundColor: [
                    '#fbe9e799',
                    '#ffccbc99',
                    '#ffab9199',
                    '#ff8a6599',
                    '#ff704399',
                    '#ff572299',
                    '#f4511e99',
                    '#e64a1999',
                    '#d8431599',
                    '#bf360c99',
                    '#e5393599',
                    '#d32f2f99',
                    '#c6282899',
                    '#b71c1c99'
                ],
                borderColor: [
                    '#fbe9e7',
                    '#ffccbc',
                    '#ffab91',
                    '#ff8a65',
                    '#ff7043',
                    '#ff5722',
                    '#f4511e',
                    '#e64a19',
                    '#d84315',
                    '#bf360c',
                    '#e53935',
                    '#d32f2f',
                    '#c62828',
                    '#b71c1c'       
                ],
                borderWidth: 1
            }]
        },
        options: {
            legend: {
                labels: {
                    // This more specific font property overrides the global property
                    fontColor: 'white'
                    
                },
                position: 'bottom',
                align: 'start',
                display: false
            }
        }
    });
</script>