{{template "header.html"}}

<!-- vim: ft=gohtmltmpl -->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>Match</title>
	</head>
	<body>


		<style type="text/css" media="screen">


.scorediv {
	text-align: center;
	vertical-align: middle;
	line-height: 90px;
}


.scoretitleimg{
	height:200px;
	object-fit: cover;

}

.tableimage{
	height:30px;
}

.avatar{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}


		</style>




		<div class="row">
			<div class="col s12">
				<div class="card">
					<div class="card-image">
						<img class="scoretitleimg" src="/public/img/maps/de_dust2.jpg" >
						<span class="card-title">{{.General.MapName}}</span>
					</div>
					<div class="card-content">

						<div class="row">

							{{range $p := .Scoreboard.TeamA}}
							<div class="col s1">
								<span> <img class="avatar circle" src="{{$p.PlayerInfo.AvatarURL}}" alt=""> </span>
								<span class="title truncate center-align"> {{$p.PlayerInfo.Name}} </span>
								<span> <img src="{{$p.PlayerInfo.RankIconURL}}" style="height:30px;"alt=""> </span>
							</div>

							{{end}}

							<div class="col s2 scorediv">

								<h3>WIN</br>12:0</h3>

							</div>

							{{range $p := .Scoreboard.TeamB}}
							<div class="col s1">
								<span> <img class="avatar circle" src="{{$p.PlayerInfo.AvatarURL}}" alt=""> </span>
								<span class="title truncate center-align"> {{$p.PlayerInfo.Name}} </span>
								<span> <img src="{{$p.PlayerInfo.RankIconURL}}" style="height:30px;"alt=""> </span>
							</div>

							{{end}}


						</div>


						<!-- <p>Map Icon: {{.General.MapIconURL}}</p> -->
						<!-- <p>Upload time: {{.General.UploadTime}}</p> -->
						<!-- <p>Match duration: {{.General.MatchDuration}}</p> -->
						<!-- <p>Demo Download link: {{.General.DemoLinkURL}}</p> -->
					</div>
				</div>
			</div>
		</div>



		<div class="row blue-grey">
			<div class="col s12">
				<ul class="tabs blue-grey">
					<li class="tab col">
						<a href="#tab-scoreboard" class="active">
							<i class="material-icons">timeline</i>Scoreboard
						</a>
					</li>
					<li class="tab col">
						<a href="#tab-rounds">
							<i class="material-icons">multiline_chart</i>Rounds
						</a>
					</li>
					<li class="tab col">
						<a href="#tab-weapons">
							<i class="material-icons">terrain</i>Weapons
						</a>
					</li>
					</li>
					<li class="tab col">
						<a href="#tab-duels">
							<i class="material-icons">whatshot</i>Duels
						</a>
					</li>
					<li class="tab col">
						<a href="#tab-heatmaps">
							<i class="material-icons">whatshot</i>Heatmaps
						</a>
					</li>
					<li class="tab col">
						<a href="#tab-megacoins">
							<i class="material-icons">whatshot</i>Megacoins
						</a>
					</li>
				</ul>
			</div>

			<div id="tab-scoreboard" class="col s12 white">


				<table class="highlight">
					<thead>
						<tr>
							<th>Avatar</th>
							<th>Player</th>
							<th>Rank</th>
							<th>Kills</th>
							<th>Deaths</th>
							<th>A</th>
							<th>+/-</th>
							<th>K/D</th>
							<th>ADR</th>
							<th>HS%</th>
							<th>FK</th>
							<th>FD</th>
							<th>K</th>
							<th>D</th>
							<th>FK</th>
							<th>FD</th>
							<th>1v5</th>
							<th>1v4</th>
							<th>1v3</th>
							<th>1v2</th>
							<th>1v1</th>
							<th>5k</th>
							<th>4k</th>
							<th>3k</th>
							<th>2k</th>
							<th>1k</th>
							<th>KAST</th>
							<th>HLTV</th>
						</tr>
					</thead>
					<tbody>


						{{range $p := .Scoreboard.TeamA}}
						<tr>
							<td> <img class="tableimage" src="{{ $p.PlayerInfo.AvatarURL }}" alt=""></img> </td>
							<td>{{$p.PlayerInfo.Name}}<div class="orange-text">{{ $p.PlayerInfo.ClanTag }}</div></td>
							<td> <img class="tableimage" src="{{ $p.PlayerInfo.RankIconURL }}" alt=""></img></td>
							<td>{{ $p.Kills }}</td>
							<td>{{ $p.Deaths }}</td>
							<td>{{ $p.Assists }}</td>
							<td>{{ $p.KDDiff }}</td>
							<td>{{ $p.KD }}</td>
							<td>{{ $p.ADR }}</td>
							<td>{{ $p.HSPrecent }}</td>
							<td>{{ $p.FirstKills }}</td>
							<td>{{ $p.FirstDeaths }}</td>
							<td>{{ $p.TradeKills }}</td>
							<td>{{ $p.TradeDeaths }}</td>
							<td>{{ $p.TradeFirstKills }}</td>
							<td>{{ $p.TradeFirstDeaths }}</td>
							<td>{{ $p.RoundsWonV5 }}</td>
							<td>{{ $p.RoundsWonV4 }}</td>
							<td>{{ $p.RoundsWonV3 }}</td>
							<td>{{ $p.RoundsWonV2 }}</td>
							<td>{{ $p.RoundsWonV1 }}</td>
							<td>{{ $p.Rounds5k }}</td>
							<td>{{ $p.Rounds4k }}</td>
							<td>{{ $p.Rounds3k }}</td>
							<td>{{ $p.Rounds2k }}</td>
							<td>{{ $p.Rounds1k }}</td>
							<td>{{ $p.KAST }}</td>
							<td>{{ $p.HLTV}}</td>
						</tr>
						{{end}}

						<tr><td></td></tr>

						{{range $p := .Scoreboard.TeamB}}
						<tr>
							<td> <img class="tableimage" src="{{ $p.PlayerInfo.AvatarURL }}" alt=""></img> </td>
							<td>{{$p.PlayerInfo.Name}}<div class="orange-text">{{ $p.PlayerInfo.ClanTag }}</div></td>
							<td> <img class="tableimage" src="{{ $p.PlayerInfo.RankIconURL }}" alt=""></img></td>
							<td>{{ $p.Kills }}</td>
							<td>{{ $p.Deaths }}</td>
							<td>{{ $p.Assists }}</td>
							<td>{{ $p.KDDiff }}</td>
							<td>{{ $p.KD }}</td>
							<td>{{ $p.ADR }}</td>
							<td>{{ $p.HSPrecent }}</td>
							<td>{{ $p.FirstKills }}</td>
							<td>{{ $p.FirstDeaths }}</td>
							<td>{{ $p.TradeKills }}</td>
							<td>{{ $p.TradeDeaths }}</td>
							<td>{{ $p.TradeFirstKills }}</td>
							<td>{{ $p.TradeFirstDeaths }}</td>
							<td>{{ $p.RoundsWonV5 }}</td>
							<td>{{ $p.RoundsWonV4 }}</td>
							<td>{{ $p.RoundsWonV3 }}</td>
							<td>{{ $p.RoundsWonV2 }}</td>
							<td>{{ $p.RoundsWonV1 }}</td>
							<td>{{ $p.Rounds5k }}</td>
							<td>{{ $p.Rounds4k }}</td>
							<td>{{ $p.Rounds3k }}</td>
							<td>{{ $p.Rounds2k }}</td>
							<td>{{ $p.Rounds1k }}</td>
							<td>{{ $p.KAST }}</td>
							<td>{{ $p.HLTV}}</td>

						</tr>
						{{end}}

					</tbody>
					<th></th>
				</table>
			</div>
			<div id="tab-rounds" class="col s12 white">
<div id="tab-scoreboard" class="col s12 white">


				<table class="highlight">
					<thead>
						<tr>
							<th>Avatar</th>
							<th>Player</th>
							<th>Rank</th>
						</tr>
					</thead>
					<tbody>


						{{range $p := .Scoreboard.TeamA}}
						<tr>

							<td> <img class="tableimage" src="{{ $p.PlayerInfo.AvatarURL }}" alt=""></img> </td>
							<td>{{$p.PlayerInfo.Name}}<div class="orange-text">{{ $p.PlayerInfo.ClanTag }}</div></td>
							<td> <img class="tableimage" src="{{ $p.PlayerInfo.RankIconURL }}" alt=""></img></td>
							<td>{{ $p.HLTV}}</td>
						</tr>
						{{end}}


					</tbody>
					<th></th>
				</table>
			</div>
				ROUNDS 
			</div>

			<div id="tab-weapons" class="col s12 white"> WEAPONS </div>
			<div id="tab-duels" class="col s12 white"> DUELS</div>
			<div id="tab-heatmaps" class="col s12 white"> HEATMAPS</div>
			<div id="tab-megacoins" class="col s12 white"> MEGACOINS</div>
		</div>

		<script>
			$(document).ready(function(){
				$('.tabs').tabs();
			});
		</script>

		{{template "footer.html"}}
	</body>
</html>

