<<template "header.html">>

	<script charset="utf-8">
console.log(window.location.href.substring(window.location.href.lastIndexOf('/') + 1));
	</script>


	<!DOCTYPE html>


	<!-- TODO put styles in public folder -->
	<style type="text/css" media="screen">
.scorediv {
	text-align: center;
	vertical-align: middle;
	font-size: 40;
}

.scoretitleimg{
	height:200px;
	object-fit: cover;
	opacity: 0.8;
}

.tableimage{
	height:30px;
}

.avatar{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

@font-face { font-family: Scoreboard; src: url('/public/css/font.ttf'); } 

.scoreticker { 
	font-family: Scoreboard, sans-serif; 
	font-size: 75px;
}

	</style>



<div class="row">
	<div class="col s12" style="padding: 0px; margin: 0px;">
		<div class="card indigo">
			<div class="card-image">
				<img class="scoretitleimg" src="/public/img/maps/de_dust2.jpg" >
				<span class="card-title"><<.General.MapName>></span>
			</div>
			<div class="card-content" style="padding-bottom:0px">

				<div class="row">


					<div id="match-clan-players">

						<<range  $p := .Players.Clan>>

						<<if not $p.IsBot >>
						<div class="col s1">
							<img class="avatar circle z-depth-2" src="<<$p.AvatarURL>>" alt="">
							<span class="title truncate center-align orange-text"> <<$p.Name>> </span>
							<img src="/public/img/ranks/<<$p.Rank>>.png" style="margin-left: auto; margin-right: auto; width: 100%;" class="rankicon z-depth-2"  alt="">
						</div>
						<<end>>
						<<end>>
					</div>

					<<$color_class := "red-text">> <<if not .General.ClanWonMatch>> <<$color_class = "green-text">> <<end>>
					<<$text := "LOST">> <<if not .General.ClanWonMatch>> <<$text ="WON">> <<end>>
					<div class="col s2 scorediv <<$color_class>>">
					<div class="scoreticker"> <<$text>> </div><span id="match-score-clan"></span><span>:</span><span id="match-score-enemy"></span>
					</div>

					<div id="match-enemy-players">
						<<range  $p := .Players.Enemy>>
						<<if not $p.IsBot >>
						<div class="col s1">
							<img class="avatar circle z-depth-2" src="<<$p.AvatarURL>>" alt=""> 
							<span class="title truncate center-align orange-text"> <<$p.Name>> </span>
							<img src="/public/img/ranks/<<$p.Rank>>.png" style="margin-left: auto; margin-right: auto; width: 100%;" class="rankicon z-depth-2" alt="">
						</div>
						<<end>>
						<<end>>
					</div>
				</div>


				<!-- <p>Map Icon: <<.General.MapIconURL>></p> -->
				<!-- <p>Upload time: <<.General.UploadTime>></p> -->
				<!-- <p>Match duration: <<.General.MatchDuration>></p> -->
				<!-- <p>Demo Download link: <<.General.DemoLinkURL>></p> -->
			</div>
		</div>
	</div>
</div>



<div class="row indigo">
	<div class="col s12">
		<ul class="tabs tabs-fixed-width tabs-transparent indigo">
			<li class="tab col">
				<a href="#tab-scoreboard" class="active">
					<i class="material-icons">timeline</i>Scoreboard
				</a>
			</li>
			<li class="tab col">
				<a href="#tab-rounds">
					<i class="material-icons">multiline_chart</i>Rounds
				</a>
			</li>
			<li class="tab col">
				<a href="#tab-weapons">
					<i class="material-icons">terrain</i>Weapons
				</a>
			</li>
			</li>
			<li class="tab col">
				<a href="#tab-duels">
					<i class="material-icons">whatshot</i>Duels
				</a>
			</li>
			<li class="tab col">
				<a href="#tab-heatmaps">
					<i class="material-icons">whatshot</i>Heatmaps
				</a>
			</li>
			<li class="tab col">
				<a href="#tab-megacoins">
					<i class="material-icons">whatshot</i>Megacoins
				</a>
			</li>
		</ul>
	</div>

	<div id="tab-scoreboard" class="col s12"><<template "tab-match-scoreboard.html" .>></div>
	<div id="tab-rounds" class="col s12"><<template "tab-match-rounds.html" .>></div>
	<div id="tab-weapons" class="col s12"><<template "tab-match-weapons.html" .>></div>
	<div id="tab-duels" class="col s12"><<template "tab-match-duels.html" .>></div>
	<div id="tab-heatmaps" class="col s12"><<template "tab-match-heatmaps.html" .>></div>
	<div id="tab-megacoins" class="col s12"><<template "tab-match-megacoins.html" .>></div>
</div>


	<script>
		$(document).ready(function(){
			$('.tabs').tabs();
		});
	</script>




	<script src="/public/js/countUp.umd.js"></script>

	<script charset="utf-8">
		var animScoreClan = new countUp.CountUp('match-score-clan', <<.General.ScoreClan>> );
			var animScoreEnemy = new countUp.CountUp('match-score-enemy', <<.General.ScoreEnemy>>);
			animScoreClan.start();
			animScoreEnemy.start();
	</script>

	<<template "footer.html">>
