
<<template "header.html">>

	<div class="container">
		<div class="row">
			<div class="col s6">
				<div id="maps-chart-container"> </div>
			</div>
			<div class="col s6">
				<div id="wins-chart-container"> </div>
			</div>
		</div>
	</div>


	<script id="matchesTemplate" type="text/x-jsrender">
	</script>


		<div class="card blue-grey darken-1">
			<div class="card-content blue-grey darken-1 white-text">
				<p class="blue-grey darken-2 white-text">
				<table>
					<tbody class="white-text" id="matches-table-body">
					</tbody>
				</table>
				</p>
			</div>
		</div>
	</div>


	<script id="matches-template" type="text/x-jsrender">
		<tr class="hoverable clickable-row" data-href="/match/{{:matchid}}">
			<td>
				<img class="matches-table-icon" src="/public/img/maps/icons/{{:map}}.png" alt="">
			</td>
			<td class="orange-text">
				{{:score_clan}}:{{:score_enemy}}
			</td>
			<td>
				{{:map}}</br> <span class="grey-text"> {{:time}} </span>
			</td>
			<td>
			{{for clan_players}}
			<div style="padding:2px;" class="left"> <img style="width:35px;height:35px;" src="{{:avatar}}" alt="{{:name}}"> </div>
			{{/for}}
			</td>

			{{if result == 0}}
			<td class="matchbadge"> <span class="new badge blue" data-badge-caption="DRAW"></span> </td>
			{{else result == 1}}
			<td class="matchbadge"> <span class="new badge green" data-badge-caption="WON"></span> </td>
			{{else result == -1}}
			<td class="matchbadge"> <span class="new badge red" data-badge-caption="LOST"></span> </td>
			{{/if}}
		</tr>
	</script>

	<script type="text/javascript">
		$(document).ready(function () {

			$.getJSON("/api/claninfo/matches",  function(data) {


				// Append all matches to table
				for (var i = 0; i<data.length; i++) {
					data[i].time= new Date(data[i].time).toUTCString()
					$("#matches-table-body" ).append( $.templates( "#matches-template" ).render(data[i]));
				}

				// Make table rows clickable
				$(".clickable-row").click(function() {
					window.location = $(this).data("href");
				});

				// TODO render updates
			});


		});


	</script>
					<script charset="utf-8">

	var  opts= {
		chart: {
				plotBackgroundColor: null,
				backgroundColor: 'rgba(0,0,0,0)',
				plotBorderWidth: null,
				plotShadow: false,
				type: 'pie',
			},
		credits: {
			enabled: false
		},
		exporting: {
			enabled: false
		},
		legend: {
			itemStyle: {
				color: '#ffffff',
			}
		},
		title: null,
		tooltip: {
			pointFormat: '{series.name}: <b>{point.y}</b>'
		},
		accessibility: {
			point: {
				valueSuffix: '%'
			}
		},
		plotOptions: {
			pie: {
				allowPointSelect: true,
				cursor: 'pointer',
				dataLabels: {
					enabled: false
				},
				showInLegend: true
			}
		},
		series: []
		}

var ser1= [{
			name: 'Matches',
			colorByPoint: true,
			data: [{
				name: 'de_dust2',
				y: 61.41,
				sliced: true,
			},
			{
				name: 'de_mirage',
				sliced: true,
				y: 10.85
			}, {
				name: 'de_inferno',
				sliced: true,
				y: 4.67
			} ]
		}]


var ser2= [{
			name: 'Matches',
			colorByPoint: true,
			data: [{
				name: 'win',
				y: 200,
				sliced: true,
			},
			{
				name: 'loose',
				sliced: true,
				y: 100
			} ]
		}]

opts.series = ser1;

						// Build the chart
						Highcharts.chart('wins-chart-container', opts);

opts.series = ser2;
						Highcharts.chart('maps-chart-container', opts);
					</script>



					<<template "footer.html">>



