{{template "header.html"}}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>Match</title>
	</head>
	<body>


		<!-- TODO put styles in public folder -->
		<style type="text/css" media="screen">



.scorediv {
	text-align: center;
	vertical-align: middle;
	line-height: 90px;
}

.scoretitleimg{
	height:200px;
	object-fit: cover;

}

.tableimage{
	height:30px;
}

.avatar{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}


		</style>
		<div class="row">
			<div class="col s12">
				<div class="card">
					<div class="card-image">
						<img class="scoretitleimg" src="/public/img/maps/de_dust2.jpg" >
						<span class="card-title">{{.General.MapName}}</span>
					</div>
					<div class="card-content">

						<div class="row">


							<div id="match-clan-players">
								{{range  $p := .Players.Clan}}
								{{if not $p.IsBot }}
								<div class="col s1">
									<span> <img class="avatar circle" src="{{$p.AvatarURL}}" alt=""> </span>
									<span class="title truncate center-align"> {{$p.Name}} </span>
									<span> <img src="/public/img/ranks/{{$p.Rank}}.png" style="height:30px;"alt=""> </span>
								</div>
								{{end}}
								{{end}}
							</div>

							<div class="col s2 scorediv">
								{{if .General.ClanWonMatch}}
								<h3 class="green-text">WON</br>
								{{else}}
								<h3 class="red-text">LOST</br>
								{{end}}
									<div id="match-score-clan" class="left"> </div> : <div class="right" id="match-score-enemy"> </divid="match-score-clan">
								</h3>
							</div>


							<div id="match-enemy-players">
								{{range  $p := .Players.Enemy}}
								{{if not $p.IsBot }}
								<div class="col s1">
									<span> <img class="avatar circle" src="{{$p.AvatarURL}}" alt=""> </span>
									<span class="title truncate center-align"> {{$p.Name}} </span>
									<span> <img src="/public/img/ranks/{{$p.Rank}}.png" style="height:30px;"alt=""> </span>
								</div>
								{{end}}
								{{end}}
							</div>
						</div>


						<!-- <p>Map Icon: {{.General.MapIconURL}}</p> -->
						<!-- <p>Upload time: {{.General.UploadTime}}</p> -->
						<!-- <p>Match duration: {{.General.MatchDuration}}</p> -->
						<!-- <p>Demo Download link: {{.General.DemoLinkURL}}</p> -->
					</div>
				</div>
			</div>
		</div>



		<div class="row blue-grey">
			<div class="col s12">
				<ul class="tabs tabs-fixed-width tabs-transparent blue-grey">
					<li class="tab col">
						<a href="#tab-scoreboard" class="active">
							<i class="material-icons">timeline</i>Scoreboard
						</a>
					</li>
					<li class="tab col">
						<a href="#tab-rounds">
							<i class="material-icons">multiline_chart</i>Rounds
						</a>
					</li>
					<li class="tab col">
						<a href="#tab-weapons">
							<i class="material-icons">terrain</i>Weapons
						</a>
					</li>
					</li>
					<li class="tab col">
						<a href="#tab-duels">
							<i class="material-icons">whatshot</i>Duels
						</a>
					</li>
					<li class="tab col">
						<a href="#tab-heatmaps">
							<i class="material-icons">whatshot</i>Heatmaps
						</a>
					</li>
					<li class="tab col">
						<a href="#tab-megacoins">
							<i class="material-icons">whatshot</i>Megacoins
						</a>
					</li>
				</ul>
			</div>

			<div id="tab-scoreboard" class="col s12 white">{{template "tab-match-scoreboard.html" .}}</div>
			<div id="tab-rounds" class="col s12 white">{{template "tab-match-rounds.html" .}}</div>
			<div id="tab-weapons" class="col s12 white">{{template "tab-match-weapons.html" .}}</div>
			<div id="tab-duels" class="col s12 white">{{template "tab-match-duels.html" .}}</div>
			<div id="tab-heatmaps" class="col s12 white">{{template "tab-match-heatmaps.html" .}}</div>
			<div id="tab-megacoins" class="col s12 white">{{template "tab-match-megacoins.html" .}}</div>
		</div>

		<script>
			$(document).ready(function(){
				$('.tabs').tabs( {
					onShow: function(tab) {
						//alert(tab);
					}
				});

			});
		</script>

		{{template "footer.html"}}



		<script src="/public/js/countUp.umd.js"></script>

		<script charset="utf-8">
			var animScoreClan = new countUp.CountUp('match-score-clan', {{.General.ScoreClan}} );
			var animScoreEnemy = new countUp.CountUp('match-score-enemy', {{.General.ScoreEnemy}});
			animScoreClan.start();
		animScoreEnemy.start();
		</script>
