
<style type="text/css" media="screen">
	
#player-maps-chart {
	height: 300px;
	margin-top: 20px; 
}

.player-maps-table tr {
	line-height: 10px;
}

.maps-table-container{
	margin-top: 20px;
	margin-bottom: 20px;
}
			
</style>
<div id="player-maps-chart" class="indigo darken-2"></div>
<div class="maps-table-container">
	
<div class="row">
	<div class="col s12">
		<table id="player-maps-table" class="white-text highlight indigo darken-2">
			<thead>
				<tr class="indigo darken-3 orange-text">
					<th></th>
					<th>Map</th>
					<th>Rounds Played</th>
					<th>Rounds Won</th>
					<th>Win Rate</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</div>

</div>
<script id="player-maps-table-row" type="text/x-jsrender">
	<tr>
	<td> <img class="tableimage" src="{{:iconpath}}" alt=""></img> </td>
	<td class="scoretablenum">{{:name}}</td>
	<td class="scoretablenum">{{:rounds_total}}</td>
	<td class="scoretablenum">{{:rounds_won}}</td>
	<td class="scoretablenum">{{:win_rate.toFixed(2)}}</td>
	</tr>
</script>

<script charset="utf-8">
	mapschart = Highcharts.chart("player-maps-chart", {
		chart: {
			type: "column",
		plotBackgroundColor: null,
		backgroundColor: 'rgba(0,0,0,0)',
		plotBorderWidth: null,
		plotShadow: false,
		},
		xAxis: {
			categories: [],

        crosshair: true,
		gridLineWidth: 0,
		labels: {
            style: {
                color: 'white'
            }
        }
		},
		yAxis: {
			min: 0,
			title: null,
		},

    yAxis: {
        min: 0,
        title: null,
		gridLineWidth: 0,
		labels: {
			style: {
				color: 'orange'
			}
        }
    },

title: null,
	credits: {
		enabled: false
	},
	exporting: {
		enabled: false
	},
	legend: {
		itemStyle: {
			color: '#ffffff',
		}
	},
		plotOptions: {
			column: {
				stacking: "normal",

            pointPadding: 0.1,
            borderWidth: 0,
			},
		},
		series: [
			{
				name: "Matches won",
				data: [],
			},
			{
				name: "Matches Lost",
				data: [],
			},
		],
	});
</script>

<script charset="utf-8">
	$(document).ready(function () {
		var steamID = window.location.href.substring(
			window.location.href.lastIndexOf("/") + 1
		);
		console.log(steamID);
		var url = "/api/playerinfo/" + steamID + "/maps";
		var cats = [];

		$.getJSON(url, function (data) {
			data.sort((a, b) => b.rounds_total - a.rounds_total);

			for (var row = 0; row < data.length; row++) {
				if (data[row].rounds_total > 0) {
					$("#player-maps-table tbody").append(
						$.templates("#player-maps-table-row").render(data[row])
					);

					cats.push(data[row].name);
					mapschart.series[0].addPoint(data[row].rounds_won);
					mapschart.series[1].addPoint(
						data[row].rounds_total - data[row].rounds_won
					);
				}

				mapschart.xAxis[0].setCategories(cats); //setting category
			}
		});
	});
</script>
