<div class="row">
	<div id="player-maps-chart" class="col s12"></div>
	<div class="col s12">
		<table id="player-maps-table" class="highlight">
			<thead>
				<tr>
					<th></th>
					<th>name</th>
					<th>Rounds total</th>
					<th>Rounds Won</th>
					<th>Win Rate</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</div>

<script id="player-maps-table-row" type="text/x-jsrender">
	<tr>
	<td> <img class="tableimage" src="{{:iconpath}}" alt=""></img> </td>
	<td class="scoretablenum">{{:name}}</td>
	<td class="scoretablenum">{{:rounds_total}}</td>
	<td class="scoretablenum">{{:rounds_won}}</td>
	<td class="scoretablenum">{{:win_rate.toFixed(2)}}</td>
	</tr>
</script>

<script charset="utf-8">
	mapschart = Highcharts.chart("player-maps-chart", {
		chart: {
			type: "column",
		},
		xAxis: {
			categories: [],
		},
		yAxis: {
			min: 0,
			title: null,
		},
		exporting: {
			showTable: true,
		},
		plotOptions: {
			column: {
				stacking: "normal",
				dataLabels: {
					enabled: true,
				},
			},
		},
		series: [
			{
				name: "Matches won",
				data: [],
			},
			{
				name: "Matches Lost",
				data: [],
			},
		],
	});
</script>

<script charset="utf-8">
	$(document).ready(function () {
		var steamID = window.location.href.substring(
			window.location.href.lastIndexOf("/") + 1
		);
		console.log(steamID);
		var url = "/api/playerinfo/" + steamID + "/maps";
		var cats=[];

		$.getJSON(url, function (data) {
			for (var row = 0; row < data.length; row++) {
				if (data[row].rounds_total > 0) {
					$("#player-maps-table tbody").append(
						$.templates("#player-maps-table-row").render(data[row])
					);



					cats.push(data[row].name);
					mapschart.series[0].addPoint(data[row].rounds_won);
					mapschart.series[1].addPoint(data[row].rounds_total - data[row].rounds_won);
				}

				mapschart.xAxis[0].setCategories(cats); //setting category
			}
		});



	});
</script>
