<div class="container">
	<div class="row">

		<div class="col s12">
			<div class="card indigo darken-2">
				<div class="card-content white-text">
					<span class="card-title">Last Match</span>
					<p>
				<go>if (eq .LastMatch.Outcome "WON")</go>
				<div class="last-match-score green-text">
					<go>else if (eq .LastMatch.Outcome "DRAW")</go>
					<div class="last-match-score green-text">
						<go>else</go>
						<div class="last-match-score green-text">
							<go>end</go>
							<go>.LastMatch.Outcome</go>
						</div>

					</p>
				</div>
				<div class="card-action">
					<a href="#">analyze last Match</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="indigo darken-2 white-text last-match-container">
	<div class="container" style="margin:0px">
		<div class="row">
			<div class="col s4">
				<go>if (eq .LastMatch.Outcome "WON")</go>
				<div class="last-match-score green-text">
					<go>else if (eq .LastMatch.Outcome "DRAW")</go>
					<div class="last-match-score green-text">
						<go>else</go>
						<div class="last-match-score green-text">
							<go>end</go>
							<go>.LastMatch.Outcome</go>
						</div>
						<img class="best-weapon-img" src="/public/img/weapons/outlines/svg_normal/AK-47.svg" >
					</div>
						<div class="col s8 center-align">
							<img class="last-match-map-img" src="/public/img/maps/icons/de_cache.png" alt="">

							<table >
								<tbody>
									<tr>
										<td class>KD Ratio</td>
										<td class="orange-text"> <go>.UserStatsForGame.Extra.LastMatchKD</go></td>
									</tr>
									<tr>
										<td>Damage dealt</td>
										<td class="orange-text"><go>.UserStatsForGame.Stats.LastMatchDamage</go> HP</td>
									</tr>
									<tr>
										<td>Money spend</td>
										<td class="orange-text">$<go>.UserStatsForGame.Stats.LastMatchMoneySpent</go></td>
									</tr>
									<tr>
										<td>MVPs</td>
										<td class="orange-text"><go>.UserStatsForGame.Stats.LastMatchMvps</go></td>
									</tr>
									<tr>
										<td>Score</td>
										<td class="orange-text"><go>.UserStatsForGame.Stats.LastMatchContributionScore</go></td>
									</tr>
								</tbody>
							</table>
						</div>
				</div>
			</div>
		</div>



		<div class="row">
			<div class="col s12">
				<div class="card horizontal indigo darken-2">
					<div class="card-image">
						<go>if (eq .LastMatch.Outcome "WON")</go>
						<img class="activator" src="/public/img/win_banner.jpg">
						<go>else if (eq .LastMatch.Outcome "DRAW")</go>
						<img class="activator" src="/public/img/draw_banner.png">
						<go>else</go>
						<img class="activator" src="/public/img/lose_banner.jpg">
						<go>end</go>

						<span class="card-title">Last Match</span>
					</div>
					<div class="card-content">


						<go>.UserStatsForGame.Stats.LastMatchWins</go>/<go>.UserStatsForGame.Stats.LastMatchRounds</go> Rounds won
						Rounds won as T: <go>.UserStatsForGame.Stats.LastMatchTWins</go>
						Rounds won as CT: <go>.UserStatsForGame.Stats.LastMatchCtWins</go>

						<img class="activator img-container" src="<go>.LastMatch.FavWeaponIconPath</go>">
						Best Weapon <go>.LastMatch.FavWeaponName</go>
						Kills: <go>.UserStatsForGame.Stats.LastMatchFavweaponKills</go>
						Accuracy: <go>.LastMatch.FavWeaponAccuracy</go>

					</div>
					<div class="card-action">
						<a href="#">analyze</a>
					</div>
				</div>
			</div>
		</div>
