<go>template "header.html"</go>
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>Scoreboard</title>
	</head>
	<body>
		<h1>Scoreboard</h1>
		<table>
			<tr>
				<th>Name</th>
				<th>Score</th>
				<th>Kills</th>
				<th>Assists</th>
				<th>Deaths</th>
			</tr>

	<go>range $val := .</go>
	<tr>
		<td><go>$val.Name</go></td>
		<td><go>$val.Score</go></td>
		<td><go>$val.Kills</go></td>
		<td><go>$val.Assists</go></td>
		<td><go>$val.Deaths</go></td>
	</tr>
					<go>end</go>
		</table>
	</body>
</html>

<go>template "footer.html"</go>
