<ul id="slide-out" class="sidenav sidenav-fixed indigo darken-3 white-text">
	<li>
		<div>
			<a href="/">
				<img
					class="navbar-logo"
					src="/public/logo/Logo_isolated.png"
					alt="megaclan3000"
				/>
			</a>
		</div>
	</li>

	<li>
		<a class="white-text" href="/"
			><i class="material-icons white-text">assignment</i>Scoreboard</a
		>
	</li>
	<li>
		<a class="white-text" href="/matches"
			><i class="material-icons white-text">flag</i>Matches</a
		>
	</li>
	<li>
		<a class="white-text" href="/stats"
			><i class="material-icons white-text">fingerprint</i>Players</a
		>
	</li>
	<li>
		<a class="white-text" href="/awards"
			><i class="material-icons white-text">stars</i>Awards</a
		>
	</li>
	<li>
		<a class="white-text" href="/faq"
			><i class="material-icons white-text">chat</i>FAQ</a
		>
	</li>
	<li>
		<a class="white-text" href="/contact"
			><i class="material-icons white-text"> headset_mic </i>Discord</a
		>
	</li>
</ul>
