<<template "header.html">>
<script>
	$( "#header-link-stats" ).addClass( "active" );
</script>

<div class="row">
	<div class="col s12 m12 l12">
		<h3 class="white-text"><i class="medium material-icons header-icon">equalizer</i>&nbsp;PLAYER STATS</h3>
	</div>
</div>
<div class="row">
	<<range $val := .>>
	<div class="col s12 m12 l6">
		<a href="player/<<$val.PlayerSummary.SteamID>>" class="clickable-card">
			<div class="card indigo darken-2">
				<div class="card-content">
					<p class="card-title white-text">
					<img src="<<$val.PlayerSummary.Avatarfull>>" class="stats-profile-pic" alt="">&nbsp;&nbsp;<<$val.PlayerSummary.Personaname>>

					<<if eq $val.PlayerSummary.Personastate "0">>
					<span class="new badge red" data-badge-caption="">offline</span>
					<<else>>
					<span class="new badge green" data-badge-caption="">online</span>
					<<end>>

					</p>
					<br>
					<table class="centered white-text">
						<tr>
							<td>
								<i class="medium material-icons stats-icon" title="number of wins">beenhere</i>
								&nbsp;&nbsp;
								<<$val.UserStatsForGame.Stats.TotalWins>>
							</td>
							<td>
								<i class="medium material-icons stats-icon" title="number of played hours">timer</i>
								&nbsp;&nbsp;
								<<$val.RecentlyPlayedGames.PlaytimeForever>> h
							</td>
						</tr>
					</table>

					<table class="centered white-text">
						<tr>
							<th>K / D</th>
							<td> <<$val.UserStatsForGame.Stats.TotalKills>> / <<$val.UserStatsForGame.Stats.TotalDeaths>></td>
							<td><<$val.UserStatsForGame.Extra.TotalKD>></td>
						</tr>
						<tr>
							<th>K / D (Last Match)</th>
							<td> <<$val.UserStatsForGame.Stats.LastMatchKills>> / <<$val.UserStatsForGame.Stats.LastMatchDeaths>></td>
							<td><<$val.UserStatsForGame.Extra.LastMatchKD>></td>
						</tr>
						<tr>
							<th>shots hit / fired</th>
							<td><<$val.UserStatsForGame.Stats.TotalShotsHit>> / <<$val.UserStatsForGame.Stats.TotalShotsFired>></td>
							<td><<$val.UserStatsForGame.Extra.HitRatio>></td>
						</tr>
					</table>
				</div>
			</div>
		</a>
	</div>

	<<end>>
</div>

<<template "footer.html">>
