
<style type="text/css" media="screen">
.wrapper {
	display: flex;
	width:100%;
}


.wrapped {
	flex-basis: 100%;
}


</style>



<ul class="collapsible">

	{{$infos:= .General.PlayerInfos}}
	{{range $i, $r := .Rounds}}

	<li>
		<div class="collapsible-header valign-wrapper wrapper">

			<div class="wrapped">
				<img style="width:30px;" src="/public/img/teams/2.jpg" class="circle" alt="">

			</div>



			<div class="right-align wrapped">
				{{range  $p := $r.TeamClanKills}}
				{{$killer:= index $infos .KillerSteamID64}}
				{{$victim:= index $infos .VictimSteamID64}}
						{{if ne $killer.Name $victim.Name}} 
				<img style="width:30px;height:30px;" src="{{$killer.AvatarURL}}" alt="">
			{{end}}
				{{end}}
			</div>

			{{ if $r.ClanWonRound}}

			<div class="right-align wrapped">
				<span>
					<img src="/public/img/win_reason/{{$r.WinReason}}.png" class="" alt="">
				</span>
			</div>


			<div class="center-align wrapped" style="font-size:20px;">
				<span class="orange-text">{{$r.ScoreClan}}</span>:<span class="blue-text">{{$r.ScoreEnemy}}</span>
			</div>
			<div class="wrapped"> </div>

			{{ else }}

			<div class="wrapped"> </div>

			<div class="center-align wrapped" style="font-size:20px">
				<span class="orange-text">{{$r.ScoreClan}}</span>:<span class="blue-text">{{$r.ScoreEnemy}}</span>
			</div>

			<div class="left-align wrapped" >
				<img src="/public/img/win_reason/{{$r.WinReason}}.png" class="center-align" alt="">
			</div>

			{{ end }}


			<div class="wrapped">
				{{range  $p := $r.TeamEnemyKills}}
				{{$killer:= index $infos .KillerSteamID64}}
				{{$victim:= index $infos .VictimSteamID64}}
						{{if ne $killer.Name $victim.Name}} 
				<img style="width:30px;height:30px;" src="{{$killer.AvatarURL}}" alt="">
			{{end}}
				{{end}}
			</div>


			<div class="right-align grey-text wrapped">
				Round {{inc $i  }} ({{$r.Duration}})
			</div>
		</div>
		<div class="collapsible-body">


			<div class="collapsible-header wrapper">


				<div class="wrapped">
					<ul class="collection">
						{{ range $k := $r.TeamClanKills}}
						{{$killer:= index $infos .KillerSteamID64}}
						{{$victim := index $infos .VictimSteamID64}}

						{{if ne $killer.Name $victim.Name}} 
						<li class="collection-item">

							<div class="wrapper">
								{{ if eq $k.KillerTeamString  "CT"}}
								<div class="blue-text left right-align wrapped">
								{{else}}
								<div class="orange-text left right-align wrapped">
								{{end}}
									{{$killer.Name}}
								</div >

								<div style="text-align: center;" class="wrapped" > {{$k.KillerWeapon}} </div>

								{{ if eq $k.VictimTeamString  "CT"}}
								<div class="blue-text right wrapped">
								{{else}}
								<div class="orange-text right wrapped">
								{{end}}
									{{$victim.Name}}
								</div >
							</div>
						</li>
						{{end}}
						{{end}}
					</ul>
				</div>

				<span>


				<span class="orange-text">5</span>:<span class="blue-text">1</span>
</span> 

				<div class="right-align wrapped">
					<ul class="collection">
						{{ range $k := $r.TeamEnemyKills}}
						{{$killer:= index $infos .KillerSteamID64}}
						{{$victim := index $infos .VictimSteamID64}}
						{{if ne $killer.Name $victim.Name}} 
						<li class="collection-item">
							<div class="wrapper">
								{{ if eq $k.KillerTeamString  "CT"}}
								<div class="blue-text left right-align wrapped">
								{{else}}
								<div class="orange-text left right-align wrapped">
								{{end}}
									{{$killer.Name}}
								</div >

								<div style="text-align: center;" class="wrapped"> {{$k.KillerWeapon}} </div>

								{{ if eq $k.VictimTeamString  "CT"}}
								<div class="blue-text left-align right wrapped">
								{{else}}
								<div class="orange-text left-align right wrapped">
								{{end}}
									{{$victim.Name}}
								</div >

							</div>
						</li>
						{{end}}
						{{end}}
					</ul>

								</div>

							</div>
				</div>
	</li>

	{{end}}
</ul>

<script charset="utf-8">
	$(document).ready(function(){
	$('.collapsible').collapsible();
  });
</script>
