



<!-- <div id="container"></div> -->
<div style="height:300px;" id="chartcontainer-match-duels"></div>


<table id="damagesTable" class="scoretable highlight blue-grey lighten-5">
	<thead> 
		<tr>
			<td></td>
		</tr> 
		</thead> 
		<tbody></tbody>
</table>


<script id="damagesHeadTemplate" type="text/x-jsrender">
	<td> <img class="tableimage" src="{{:avatar}}" alt=""></img> </td>
</script>



<script id="damagesRowTemplate" type="text/x-jsrender">
	<tr>

	<td> <img class="tableimage" src="{{:avatar}}" alt=""></img> </td>
	{{for vics}}
		<td>{{:amount}}</td>
	{{/for}}
	</tr>
</script>


<script charset="utf-8">
$(document).ready(function() {
	$.getJSON("/api/matchinfo/1/duels",  function(data) {
		console.log(data);

		var playernamesClan = [];
		for (const [key, value] of Object.entries(data.clan)) {
			 playernamesClan.push(key);
		}


		var playernamesEnemy = [];
		for (const [key, value] of Object.entries(data.enemy)) {
			 playernamesClan.push(key);
		}

		var allnames = playernamesClan.concat(playernamesEnemy);
		var allplayers = {...data.enemy, ...data.clan};


		for (var i = 0; i<allnames.length; i++) {

			$("#damagesTable thead tr" ).append( $.templates( "#damagesHeadTemplate" ).render(allplayers[allnames[i]]));

			var victims = [];


			victims = allplayers[allnames[i]].damages.sort(
				function (a, b) {
					return allnames.indexOf(a.victim) - allnames.indexOf(b.victim);
				});


			var inputdata = {
				player: allnames[i],
				avatar: allplayers[allnames[i]].avatar,
				vics: victims
				}

			$("#damagesTable tbody" ).append( $.templates( "#damagesRowTemplate" ).render(inputdata));
		}
	//	$("#damagestablecontainer").append( $.templates( "#damageTableTemplate" ).render(data) );
	});
});
</script>






<!-- Highcharts.chart('container', { -->

<!--     title: { -->
<!--         text: 'Highcharts Sankey Diagram' -->
<!--     }, -->
<!--     accessibility: { -->
<!--         point: { -->
<!--             valueDescriptionFormat: '{index}. {point.from} to {point.to}, {point.weight}.' -->
<!--         } -->
<!--     }, -->
<!--     series: [{ -->
<!--         keys: ['from', 'to', 'weight'], -->
<!--         data: [ -->
<!--             ['Player Clan 1', 'Player Enemy 1', Math.floor(Math.random() * Math.floor(100))], -->
<!--             ['Player Clan 2', 'Player Enemy 1', Math.floor(Math.random() * Math.floor(100))], -->
<!--             ['Player Clan 3', 'Player Enemy 1', Math.floor(Math.random() * Math.floor(100))], -->
<!--             ['Player Clan 4', 'Player Enemy 1', Math.floor(Math.random() * Math.floor(100))], -->
<!--             ['Player Clan 5', 'Player Enemy 1', Math.floor(Math.random() * Math.floor(100))], -->
<!--             ['Player Clan 1', 'Player Enemy 2', Math.floor(Math.random() * Math.floor(100))], -->
<!--             ['Player Clan 2', 'Player Enemy 2', Math.floor(Math.random() * Math.floor(100))], -->
<!--             ['Player Clan 3', 'Player Enemy 2', Math.floor(Math.random() * Math.floor(100))], -->
<!--             ['Player Clan 4', 'Player Enemy 2', Math.floor(Math.random() * Math.floor(100))], -->
<!--             ['Player Clan 5', 'Player Enemy 2', Math.floor(Math.random() * Math.floor(100))], -->
<!--             ['Player Clan 1', 'Player Enemy 3', Math.floor(Math.random() * Math.floor(100))], -->
<!--             ['Player Clan 2', 'Player Enemy 3', Math.floor(Math.random() * Math.floor(100))], -->
<!--             ['Player Clan 3', 'Player Enemy 3', Math.floor(Math.random() * Math.floor(100))], -->
<!--             ['Player Clan 4', 'Player Enemy 3', Math.floor(Math.random() * Math.floor(100))], -->
<!--             ['Player Clan 5', 'Player Enemy 3', Math.floor(Math.random() * Math.floor(100))], -->
<!--             ['Player Clan 1', 'Player Enemy 4', Math.floor(Math.random() * Math.floor(100))], -->
<!--             ['Player Clan 2', 'Player Enemy 4', Math.floor(Math.random() * Math.floor(100))], -->
<!--             ['Player Clan 3', 'Player Enemy 4', Math.floor(Math.random() * Math.floor(100))], -->
<!--             ['Player Clan 4', 'Player Enemy 4', Math.floor(Math.random() * Math.floor(100))], -->
<!--             ['Player Clan 5', 'Player Enemy 4', Math.floor(Math.random() * Math.floor(100))], -->
<!--             ['Player Clan 1', 'Player Enemy 5', Math.floor(Math.random() * Math.floor(100))], -->
<!--             ['Player Clan 2', 'Player Enemy 5', Math.floor(Math.random() * Math.floor(100))], -->
<!--             ['Player Clan 3', 'Player Enemy 5', Math.floor(Math.random() * Math.floor(100))], -->
<!--             ['Player Clan 4', 'Player Enemy 5', Math.floor(Math.random() * Math.floor(100))], -->
<!--             ['Player Clan 5', 'Player Enemy 5', Math.floor(Math.random() * Math.floor(100))], -->


<!--         ], -->
<!--         type: 'sankey', -->
<!--         name: 'Sankey demo series' -->
<!--     }] -->

<!-- }); -->
