

<!-- <div id="container"></div> -->
<div style="height:300px;" id="chartcontainer-match-duels"></div>


<script charset="utf-8">

	$(document).ready(function() {

//	var options_example = {
//		chart: {
//			renderTo: 'container',
//			type: 'spline'
//		},
//		series: [{}]
//	};
//
	var options_damage_transfer = {
		chart: {
			renderTo: 'chartcontainer-match-duels',
			type: 'sankey',
		},
		title: null,
        height: 300,
		series: [{}],
		accessibility: {
			point: {
				valueDescriptionFormat: '{index}. {point.from} to {point.to}, {point.weight}.'
			}
		},
	};

	$.getJSON("/api/matchinfo/12345/duels",  function(data_damage_transfer) {
		options_damage_transfer.series[0].data = data_damage_transfer;
		options_damage_transfer.series[0].keys =  ['from', 'to', 'weight'];
		options_damage_transfer.series[0].name = 'Sankey demo series';

//		console.log("Data damaget_tranfser");
//		console.log(data_damage_transfer);
		var chart_damage_transfer = new Highcharts.Chart(options_damage_transfer);
	});

//	$.getJSON("/api/example",  function(data_example) {
//		options_example.series[0].data = data_example;
//		console.log("Data example");
//		console.log(data_example);
//		var chart_example = new Highcharts.Chart(options_example);
//	});
});
</script>

<table id="testtable"> </table>

<script charset="utf-8">
	CreateTableFromJSON("testtable", "/api/example");
</script>

<div style="background-color:hsl(10,100%,50%);">
	testteirnstiernst
	irstnristen
	
</div>



<!-- Highcharts.chart('container', { -->

<!--     title: { -->
<!--         text: 'Highcharts Sankey Diagram' -->
<!--     }, -->
<!--     accessibility: { -->
<!--         point: { -->
<!--             valueDescriptionFormat: '{index}. {point.from} to {point.to}, {point.weight}.' -->
<!--         } -->
<!--     }, -->
<!--     series: [{ -->
<!--         keys: ['from', 'to', 'weight'], -->
<!--         data: [ -->
<!--             ['Player Clan 1', 'Player Enemy 1', Math.floor(Math.random() * Math.floor(100))], -->
<!--             ['Player Clan 2', 'Player Enemy 1', Math.floor(Math.random() * Math.floor(100))], -->
<!--             ['Player Clan 3', 'Player Enemy 1', Math.floor(Math.random() * Math.floor(100))], -->
<!--             ['Player Clan 4', 'Player Enemy 1', Math.floor(Math.random() * Math.floor(100))], -->
<!--             ['Player Clan 5', 'Player Enemy 1', Math.floor(Math.random() * Math.floor(100))], -->
<!--             ['Player Clan 1', 'Player Enemy 2', Math.floor(Math.random() * Math.floor(100))], -->
<!--             ['Player Clan 2', 'Player Enemy 2', Math.floor(Math.random() * Math.floor(100))], -->
<!--             ['Player Clan 3', 'Player Enemy 2', Math.floor(Math.random() * Math.floor(100))], -->
<!--             ['Player Clan 4', 'Player Enemy 2', Math.floor(Math.random() * Math.floor(100))], -->
<!--             ['Player Clan 5', 'Player Enemy 2', Math.floor(Math.random() * Math.floor(100))], -->
<!--             ['Player Clan 1', 'Player Enemy 3', Math.floor(Math.random() * Math.floor(100))], -->
<!--             ['Player Clan 2', 'Player Enemy 3', Math.floor(Math.random() * Math.floor(100))], -->
<!--             ['Player Clan 3', 'Player Enemy 3', Math.floor(Math.random() * Math.floor(100))], -->
<!--             ['Player Clan 4', 'Player Enemy 3', Math.floor(Math.random() * Math.floor(100))], -->
<!--             ['Player Clan 5', 'Player Enemy 3', Math.floor(Math.random() * Math.floor(100))], -->
<!--             ['Player Clan 1', 'Player Enemy 4', Math.floor(Math.random() * Math.floor(100))], -->
<!--             ['Player Clan 2', 'Player Enemy 4', Math.floor(Math.random() * Math.floor(100))], -->
<!--             ['Player Clan 3', 'Player Enemy 4', Math.floor(Math.random() * Math.floor(100))], -->
<!--             ['Player Clan 4', 'Player Enemy 4', Math.floor(Math.random() * Math.floor(100))], -->
<!--             ['Player Clan 5', 'Player Enemy 4', Math.floor(Math.random() * Math.floor(100))], -->
<!--             ['Player Clan 1', 'Player Enemy 5', Math.floor(Math.random() * Math.floor(100))], -->
<!--             ['Player Clan 2', 'Player Enemy 5', Math.floor(Math.random() * Math.floor(100))], -->
<!--             ['Player Clan 3', 'Player Enemy 5', Math.floor(Math.random() * Math.floor(100))], -->
<!--             ['Player Clan 4', 'Player Enemy 5', Math.floor(Math.random() * Math.floor(100))], -->
<!--             ['Player Clan 5', 'Player Enemy 5', Math.floor(Math.random() * Math.floor(100))], -->


<!--         ], -->
<!--         type: 'sankey', -->
<!--         name: 'Sankey demo series' -->
<!--     }] -->

<!-- }); -->
