
<style type="text/css" media="screen">

.weaponcardimg{
	height:150px;
	object-fit: contain;
}

</style>

<style type="text/css" media="screen">
.wrapper {
	display: flex;
	width:100%;
}


.wrapped {
	flex-basis: 100%;
}

#chartcontainer-match-weapons {
	height: 300px;
	margin-top: 20px; 
}

#weaponscontainer {
	margin-top: 20px;
	margin-bottom: 20px;
}


</style>

<div id="chartcontainer-match-weapons" class="indigo darken-2"> </div>

<div id="weaponscontainer"> </div>

<script id="matchWeaponTemplate" type="text/x-jsrender">



<div class="card indigo darken-3 col s6">
	<div class="card-image">
		<img class="weaponcardimg" src="/public/img/weapons/{{:name}}.jpg" >
		<span class="card-title white-text">{{:name}}</span>
	</div>
	<div class="card-tabs">
		<ul class="tabs tabs-fixed-width orange-text indigo">
			<li class="tab"><a href="#tab-weapon-{{:#index}}-kills"> <span class="orange-text">Kills</span></a></li>
			<li class="tab"><a href="#tab-weapon-{{:#index}}-accuracy"> <span class="orange-text">Accuracy</span></a></li>
			<li class="tab"><a href="#tab-weapon-{{:#index}}-headshots"> <span class="orange-text">Headshots</span></a></li>
			<li class="tab"><a href="#tab-weapon-{{:#index}}-damage"> <span class="orange-text">Damage</span></a></li>
		</ul>
	</div>


	<div class="card-content indigo darken-2">
		<div id="tab-weapon-{{:#index}}-kills">
			<div class="row">
				<div class="container">
					<div class="row">
						<div class="col s6">
							<table style="table-layout: fixed ; width: 100% ;" class="white-text darken-2 weapon-card-table" >
								{{props kills.clan}}
								<tr>
									<td style="width: 50%;" class="right-align">{{:key}}</td>
									<td class="orange-text left-align">{{:prop}}</td>
								</tr>
								{{/props}}
							</table>
						</div>
						<div class="col s6">
							<table style="table-layout: fixed ; width: 100% ;" class="white-text weapon-card-table" >
								{{props kills.enemy}}
								<tr>
									<td style="width: 50%;" class="right-align">{{:key}}</td>
									<td class="orange-text left-align">{{:prop}}</td>
								</tr>
								{{/props }}
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="tab-weapon-{{:#index}}-accuracy">
			<div class="row">
				<div class="container">
					<div class="row">
						<div class="col s6">
							<table style="table-layout: fixed ; width: 100% ;"  class="white-text weapon-card-table" >
								{{props accuracy.clan}}
								<tr>
									<td style="width: 50%;" class="right-align">{{:key}}</td>
									<td class="orange-text left-align">{{:prop}}%</td>
								</tr>
								{{/props }}
							</table>
						</div>
						<div class="col s6">
							<table style="table-layout: fixed ; width: 100% ;"  class="white-text weapon-card-table" >
								{{props accuracy.enemy}}
								<tr>
									<td style="width: 50%;" class="right-align">{{:key}}</td>
									<td class="orange-text left-align">{{:prop}}%</td>
								</tr>
								{{/props }}
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="tab-weapon-{{:#index}}-headshots">
			<div class="row">
				<div class="container">
					<div class="row">
						<div class="col s6">
							<table style="table-layout: fixed ; width: 100% ;"  class="white-text weapon-card-table" >
								{{props headshots.clan}}
								<tr>
									<td style="width: 50%;" class="right-align">{{:key}}</td>
									<td class="orange-text left-align">{{:prop}}</td>
								</tr>
								{{/props }}
							</table>
						</div>
						<div class="col s6">
							<table style="table-layout: fixed ; width: 100% ;"  class="white-text weapon-card-table" >
								{{props headshots.enemy}}
								<tr>
									<td style="width: 50%;" class="right-align">{{:key}}</td>
									<td class="orange-text left-align">{{:prop}}</td>
								</tr>
								{{/props }}
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="tab-weapon-{{:#index}}-damage">
			<div class="row">
				<div class="container">
					<div class="row">
						<div class="col s6">
							<table style="table-layout: fixed ; width: 100% ;"  class="white-text weapon-card-table" >
								{{props damage.clan}}
								<tr>
									<td style="width: 50%;" class="right-align">{{:key}}</td>
									<td class="orange-text left-align">{{:prop}}</td>
								</tr>
								{{/props }}
							</table>
						</div>
						<div class="col s6">
							<table style="table-layout: fixed ; width: 100% ;"  class="white-text weapon-card-table" >
								{{props damage.enemy}}
								<tr>
									<td style="width: 50%;" class="right-align">{{:key}}</td>
									<td class="orange-text left-align">{{:prop}}</td>
								</tr>
								{{/props}}
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</script>




<script charset="utf-8">
	$(document).ready(function(){


	// TODO use correct id
	var url = "/api/matchinfo/1/weapons"
	$.getJSON(url,  function( data) {

var ser = [];



var sortable = [];

for (const key in data.weapons) {
    if (data.weapons.hasOwnProperty(key)) {

		var weapon = data.weapons[key];
		sortable.push(weapon);

    }
}


sortable.sort(function(a, b) {
	// Reverse sort by total_kills
	return b.total_kills - a.total_kills;
});

for (var i = 0; i< sortable.length; i++) {

		var wep = {
			name: sortable[i].name,
			data: []
		}


		for (const player in sortable[i].kills.clan) {
			wep.data.push({
				name: player,
				value: sortable[i].kills.clan[player]
			})
		}

		for (const player in sortable[i].kills.enemy) {
			wep.data.push({
				name: player,
				value: sortable[i].kills.enemy[player]
			})
		}

		ser.push(wep);

}





//console.log(sortable);

				$("#weaponscontainer").append( $.templates( "#matchWeaponTemplate" ).render(sortable) );
				$("#weaponscontainer").find('.tabs').tabs();





	opts = {
		chart: {
			type: 'packedbubble',
			height: 300,
		plotBackgroundColor: null,
		backgroundColor: 'rgba(0,0,0,0)',
		plotBorderWidth: null,
		plotShadow: false,
		},
		title: null,
		tooltip: {
			useHTML: true,
			pointFormat: '<b>{point.name}:</b> {point.value}'
		},

	credits: {
		enabled: false
	},
	exporting: {
		enabled: false
	},

	legend: {
		itemStyle: {
			color: '#ffffff',
		}
	},
		plotOptions: {
			packedbubble: {
				minSize: '20%',
				maxSize: '100%',
				layoutAlgorithm: {

					gravitationalConstant: 0.09,
					splitSeries: true,
					seriesInteraction: false,
					dragBetweenSeries: false,
					parentNodeLimit: true
				},
				dataLabels: {
					enabled: true,
					format: '{point.name}',
					filter: {
						property: 'y',
						operator: '>',
						value: 250
					},
					style: {
						color: 'black',
						textOutline: 'none',
						fontWeight: 'normal'
					}
				}
			}
		},
		series: ser.slice(0,10)
}



var arstarstarst = Highcharts.chart('chartcontainer-match-weapons', opts);


			});

});


</script>

<script charset="utf-8">

</script>

