
<style type="text/css" media="screen">

.weaponcardimg{
	height:150px;
	object-fit: contain;
}

</style>

<style type="text/css" media="screen">
.wrapper {
	display: flex;
	width:100%;
}


.wrapped {
	flex-basis: 100%;
}

#chartcontainer-match-weapons {
	height: 300px;
}


</style>

<div id="chartcontainer-match-weapons"> </div>

<script charset="utf-8">


	Highcharts.chart('chartcontainer-match-weapons', {
	chart: {
		type: 'packedbubble',
		height: 300,
	},
	title: null,
	tooltip: {
		useHTML: true,
		pointFormat: '<b>{point.name}:</b> {point.value}'
	},
	plotOptions: {
		packedbubble: {
			minSize: '20%',
			maxSize: '100%',
			layoutAlgorithm: {
				gravitationalConstant: 0.05,
				splitSeries: true,
				seriesInteraction: false,
				dragBetweenSeries: true,
				parentNodeLimit: true
			},
			dataLabels: {
				enabled: true,
				format: '{point.name}',
				filter: {
					property: 'y',
					operator: '>',
					value: 250
				},
				style: {
					color: 'black',
					textOutline: 'none',
					fontWeight: 'normal'
				}
			}
		}
	},
	series: [
	{
	//TODO use real data
		name: 'Weapon 1',
		data: [
		{ name: 'Player 1',  value: Math.floor(Math.random() * 11) },
		{ name: 'Player 2',  value: Math.floor(Math.random() * 11) },
		{ name: 'Player 3',  value: Math.floor(Math.random() * 11) },
		{ name: 'Player 4',  value: Math.floor(Math.random() * 11) },
		{ name: 'Player 5',  value: Math.floor(Math.random() * 11) },
		{ name: 'Player 6',  value: Math.floor(Math.random() * 11) },
		{ name: 'Player 7',  value: Math.floor(Math.random() * 11) },
		{ name: 'Player 8',  value: Math.floor(Math.random() * 11) },
		{ name: 'Player 9',  value: Math.floor(Math.random() * 11) },
		{ name: 'Player 10',  value: Math.floor(Math.random() * 11) },
		]
	},
	{
		name: 'Weapon 2',
		data: [
		{ name: 'Player 1',  value: Math.floor(Math.random() * 11) },
		{ name: 'Player 2',  value: Math.floor(Math.random() * 11) },
		{ name: 'Player 3',  value: Math.floor(Math.random() * 11) },
		{ name: 'Player 4',  value: Math.floor(Math.random() * 11) },
		{ name: 'Player 5',  value: Math.floor(Math.random() * 11) },
		{ name: 'Player 6',  value: Math.floor(Math.random() * 11) },
		{ name: 'Player 7',  value: Math.floor(Math.random() * 11) },
		{ name: 'Player 8',  value: Math.floor(Math.random() * 11) },
		{ name: 'Player 9',  value: Math.floor(Math.random() * 11) },
		{ name: 'Player 10',  value: Math.floor(Math.random() * 11) },
		]
	},
	{
		name: 'Weapon 3',
		data: [
		{ name: 'Player 1',  value: Math.floor(Math.random() * 11) },
		{ name: 'Player 2',  value: Math.floor(Math.random() * 11) },
		{ name: 'Player 3',  value: Math.floor(Math.random() * 11) },
		{ name: 'Player 4',  value: Math.floor(Math.random() * 11) },
		{ name: 'Player 5',  value: Math.floor(Math.random() * 11) },
		{ name: 'Player 6',  value: Math.floor(Math.random() * 11) },
		{ name: 'Player 7',  value: Math.floor(Math.random() * 11) },
		{ name: 'Player 8',  value: Math.floor(Math.random() * 11) },
		{ name: 'Player 9',  value: Math.floor(Math.random() * 11) },
		{ name: 'Player 10',  value: Math.floor(Math.random() * 11) },
		]
	},
	{
		name: 'Weapon 4',
		data: [
		{ name: 'Player 1',  value: Math.floor(Math.random() * 11) },
		{ name: 'Player 2',  value: Math.floor(Math.random() * 11) },
		{ name: 'Player 3',  value: Math.floor(Math.random() * 11) },
		{ name: 'Player 4',  value: Math.floor(Math.random() * 11) },
		{ name: 'Player 5',  value: Math.floor(Math.random() * 11) },
		{ name: 'Player 6',  value: Math.floor(Math.random() * 11) },
		{ name: 'Player 7',  value: Math.floor(Math.random() * 11) },
		{ name: 'Player 8',  value: Math.floor(Math.random() * 11) },
		{ name: 'Player 9',  value: Math.floor(Math.random() * 11) },
		{ name: 'Player 10',  value: Math.floor(Math.random() * 11) },
		]
	},
	{
		name: 'Weapon 5',
		data: [
		{ name: 'Player 1',  value: Math.floor(Math.random() * 11) },
		{ name: 'Player 2',  value: Math.floor(Math.random() * 11) },
		{ name: 'Player 3',  value: Math.floor(Math.random() * 11) },
		{ name: 'Player 4',  value: Math.floor(Math.random() * 11) },
		{ name: 'Player 5',  value: Math.floor(Math.random() * 11) },
		{ name: 'Player 6',  value: Math.floor(Math.random() * 11) },
		{ name: 'Player 7',  value: Math.floor(Math.random() * 11) },
		{ name: 'Player 8',  value: Math.floor(Math.random() * 11) },
		{ name: 'Player 9',  value: Math.floor(Math.random() * 11) },
		{ name: 'Player 10',  value: Math.floor(Math.random() * 11) },
		]
	},
	]
});

</script>

<script id="matchWeaponTemplate" type="text/x-jsrender">
 <div class="card">
    <div class="card-content">
      <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
    </div>
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width black-text">
		<li class="tab red"><a href="#test4">Test 1</a></li>
        <li class="tab red"><a href="#test5">Test 2</a></li>
        <li class="tab red"><a href="#test6">Test 3</a></li>
      </ul>
    </div>
    <div class="card-content grey lighten-4">
	  <div id="test4">Test 1 </div>
      <div id="test5">Test 2 </div>
      <div id="test6">Test 3 </div>
    </div>
  </div>
 <div class="card">
    <div class="card-content">
      <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
    </div>
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width black-text">
		<li class="tab red"><a href="#test4a">Test 1</a></li>
        <li class="tab red"><a href="#test5a">Test 2</a></li>
        <li class="tab red"><a href="#test6a">Test 3</a></li>
      </ul>
    </div>
    <div class="card-content grey lighten-4">
	  <div id="test4a">Test 1 </div>
      <div id="test5a">Test 2 </div>
      <div id="test6a">Test 3 </div>
    </div>
  </div>
</script>



<div id="weaponscontainer"> </div>

<script charset="utf-8">
$(document).ready(function(){

	// TODO use correct id
	var url = "/api/matchinfo/1/weapons"
	$.getJSON(url,  function( data) {

				$("#weaponscontainer").append( $.templates( "#matchWeaponTemplate" ).render(data) );
			    $("#weaponscontainer").find('.tabs').tabs();
			});


				//$( "#matchWeaponTemplate" ).tmpl(data.weapons).appendTo( "#todo" );

//		scoreboardChart.categories = arrPlayers;
//
//        scoreboardChart.xAxis[0].setCategories(arrPlayers); //setting category
//		scoreboardChart.series[0].setData(arrKills);
//		scoreboardChart.series[1].setData(arrDeaths);
//		scoreboardChart.series[2].setData(arrAssists);

		//https://api.highcharts.com/class-reference/Highcharts.Chart.html#addSeries
		// https://api.highcharts.com/class-reference/Highcharts.Series#setData


  // Or with jQuery


});


</script>

<script charset="utf-8">
	
</script>

