<script id="mapTableTemplate" type="text/x-jsrender">
	<tr>
		<td id="mapName">${mapName}</td>
		<td id="totalRounds" class="blue-text">${mapRoundsTotal}</td>
		<td id="roundsWon">${mapRoundsWon}</td>
		<td id="winRate" class="${mapWinRateClass}" >${mapWinRate}</td>
	</tr>
</script>

<div class="row">
	<div class="col s12">
		<table id="generated-table-maps" class="highlight">
			<thead>
				<tr>
					<th>Played Map</th>
					<th>Rounds</th>
					<th>Rounds Won</th>
					<th>Win Rate</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>


<script charset="utf-8">

$(document).ready(function(){
	// TODO use correct id
	var url = "/api/playerinfo/76561197962156894/maps"
	$.getJSON(url,  function( data) {

		data.sort((a, b) => b.rounds_total - a.rounds_total)


		for (var row = 0; row < data.length; row++) {

		var winrate = (data[row].win_rate *100).toFixed(0);

		var colorclass = "orange-text";

		if (winrate >= 50 ) {
			colorclass = "green-text";
		}



			var mapstat = {
				mapName: data[row].name,
				mapRoundsTotal: data[row].rounds_total,
				mapRoundsWon: data[row].rounds_won,
				mapWinRate: winrate + "%",
				mapWinRateClass: colorclass,
			}
			$( "#mapTableTemplate" ).tmpl(mapstat).appendTo( "#generated-table-maps tbody" );
		}
	});

});

</script>

		<!-- }, -->		
		<!-- { -->
		<!-- 	mapName: 'de_vertigo', -->
		<!-- 	totalRounds: {{.UserStatsForGame.Stats.TotalRoundsMapDeVertigo}}, -->
		<!-- 	roundsWon: {{.UserStatsForGame.Stats.TotalWinsMapDeVertigo}}, -->
		<!-- 	winRate: (Math.round({{.UserStatsForGame.Stats.TotalWinsMapDeVertigo}}/{{.UserStatsForGame.Stats.TotalRoundsMapDeVertigo}} * 10000) / 100 || 0)  + '%' -->
		<!-- }, -->								
	<!-- ] -->


