<div class="row">
	<div class="col s4">
		<table>
			<tbody>
				<tr>
					<td>Kills</td>
					<td class="orange-text">0</td>
				</tr>
				<tr>
					<td>Deaths</td>
					<td class="orange-text">0</td>
				</tr>
				<tr>
					<td>Headshots</td>
					<td class="orange-text">0</td>
				</tr>
				<tr>
					<td>Money earned</td>
					<td class="orange-text">0</td>
				</tr>
				<tr>
					<td>Total Damage</td>
					<td class="orange-text">0</td>
				</tr>
				<tr>
					<td>Total score</td>
					<td class="orange-text">0</td>
				</tr>
				<tr>
					<td>Bombs planted</td>
					<td class="orange-text">0</td>
				</tr>
				<tr>
					<td>Bombs defused</td>
					<td class="orange-text">0</td>
				</tr>
				<tr>
					<td>Hostages rescued</td>
					<td class="orange-text">0</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col s4">
		<table>
			<tbody>
				<tr>
					<td>Matches played</td>
					<td class="orange-text">0</td>
				</tr>
				<tr>
					<td>Matches won</td>
					<td class="orange-text">0</td>
				</tr>
				<tr>
					<td>Rounds played</td>
					<td class="orange-text">0</td>
				</tr>
				<tr>
					<td>Rounds won</td>
					<td class="orange-text">0</td>
				</tr>
				<tr>
					<td>MVP stars</td>
					<td class="orange-text">0</td>
				</tr>
				<tr>
					<td>Weapons donated</td>
					<td class="orange-text">0</td>
				</tr>
				<tr>
					<td>Kills with enemy weapon</td>
					<td class="orange-text">0</td>
				</tr>
				<tr>
					<td>Blinded enemies killed</td>
					<td class="orange-text">0</td>
				</tr>
				<tr>
					<td>Won knife-fights</td>
					<td class="orange-text">0</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col s4">
		<table>
			<tbody>
				<tr>
					<td>Aiming snipers killed</td>
					<td class="orange-text">0</td>
				</tr>
				<tr>
					<td>Shots fired</td>
					<td class="orange-text">0</td>
				</tr>
				<tr>
					<td>Shots hit</td>
					<td class="orange-text">0</td>
				</tr>
				<tr>
					<td>Dominations</td>
					<td class="orange-text">0</td>
				</tr>
				<tr>
					<td>Domination overkills</td>
					<td class="orange-text">0</td>
				</tr>
				<tr>
					<td>Domination revenges</td>
					<td class="orange-text">0</td>
				</tr>
				<tr>
					<td>Pistol rounds won</td>
					<td class="orange-text">0</td>
				</tr>
				<tr>
					<td>Enemies tasered</td>
					<td class="orange-text">0</td>
				</tr>
				<tr>
					<td>Windows broken</td>
					<td class="orange-text">0</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

