<table>
	<thead>
		<tr>
			<th></th>
			<th>Weapon</th>
			<th>Kills</th>
			<th>Shots</th>
			<th>Hits</th>
			<th>Accuracy</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td><img height="20" src="/public/img/weapons/taser.jpg"></td>
			<td>Zeus x27</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><img height="20" src="/public/img/weapons/molotov.jpg"></td>
			<td>Molotov</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><img height="20" src="/public/img/weapons/galilar.jpg"></td>
			<td>Galil AR</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><img height="20" src="/public/img/weapons/m4a1.jpg"></td>
			<td>M4A1-S  &amp; M4A4</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><img height="20" src="/public/img/weapons/mag7.jpg"></td>
			<td>MAG-7</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><img height="20" src="/public/img/weapons/tec9.jpg"></td>
			<td>Tec-9</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><img height="20" src="/public/img/weapons/bizon.jpg"></td>
			<td>PP-Bizon</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><img height="20" src="/public/img/weapons/sawedoff.jpg"></td>
			<td>Sawed-Off</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><img height="20" src="/public/img/weapons/negev.jpg"></td>
			<td>Negev</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><img height="20" src="/public/img/weapons/nova.jpg"></td>
			<td>Nova</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><img height="20" src="/public/img/weapons/mp9.jpg"></td>
			<td>MP9</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><img height="20" src="/public/img/weapons/mp7.jpg"></td>
			<td>MP7</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><img height="20" src="/public/img/weapons/ssg08.jpg"></td>
			<td>SSG 08</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><img height="20" src="/public/img/weapons/scar20.jpg"></td>
			<td>SCAR-20</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><img height="20" src="/public/img/weapons/sg556.jpg"></td>
			<td>SG 553</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><img height="20" src="/public/img/weapons/p250.jpg"></td>
			<td>P250</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><img height="20" src="/public/img/weapons/hkp2000.jpg"></td>
			<td>USP-S &amp; P2000</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><img height="20" src="/public/img/weapons/m249.jpg"></td>
			<td>M249</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><img height="20" src="/public/img/weapons/g3sg1.jpg"></td>
			<td>G3SG1</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><img height="20" src="/public/img/weapons/famas.jpg"></td>
			<td>FAMAS</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><img height="20" src="/public/img/weapons/aug.jpg"></td>
			<td>AUG</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><img height="20" src="/public/img/weapons/ak47.jpg"></td>
			<td>AK-47</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><img height="20" src="/public/img/weapons/awp.jpg"></td>
			<td>AWP</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><img height="20" src="/public/img/weapons/p90.jpg"></td>
			<td>P90</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><img height="20" src="/public/img/weapons/ump45.jpg"></td>
			<td>UMP-45</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><img height="20" src="/public/img/weapons/mac10.jpg"></td>
			<td>MAC-10</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><img height="20" src="/public/img/weapons/xm1014.jpg"></td>
			<td>XM1014</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><img height="20" src="/public/img/weapons/fiveseven.jpg"></td>
			<td>Five-SeveN</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><img height="20" src="/public/img/weapons/elite.jpg"></td>
			<td>Dual Berettas</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><img height="20" src="/public/img/weapons/deagle.jpg"></td>
			<td>Desert Eagle</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><img height="20" src="/public/img/weapons/glock.jpg"></td>
			<td>Glock-18</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><img height="20" src="/public/img/weapons/hegrenade.jpg"></td>
			<td>HE Grenade</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><img height="20" src="/public/img/weapons/knife.jpg"></td>
			<td>Knife</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>



