<script>
    var ctx = document.getElementById('weaponsChart');
    var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: [
                // --------  Close Range  --------  
                'Knife', 
                // 'Zeus x27',
                
                // --------  Pistoles  --------  
                // 'CZ75-Auto',
                'Desert Eagle',
                // 'Dual Berettas',
                'Five Seven',
                'Glock', 
                'P250',
                'P2000',
                // 'R8 Revolver',
                'Tec-9', 
                // 'USP-S',
    
                // --------  SMG  --------  
                'MAC-10',
                // 'MP5-SD',
                'MP7',
                'MP9',
                // 'M4A4',
                'P90',
                'PP-Bizon', 
                // 'SSG 08',
                'UMP-45',
    
                // --------  Rifles  --------
                'AK 47',
                'AUG', 
                'AWP',
                'Famas',
                'Galil AR',
                'G3SG1',
                'M4A1-S',
                'SG 556',
                'SCAR-20', 
    
                // --------  Heavy  --------
                'MAG-7',
                'M249',
                'Negev',
                'Nova',
                'Sawed off',
                'XM1014',
    
                // --------  Grenades  --------
                'HE Grenade',
                'Molotov'
            ],
            datasets: [{
                label: '# of kills',
                data: [
                    // --------  Close Range  --------  
                    {{ index .UserStatsForGame.Stats "total_kills_knife"}},
                    // 'Zeus x27',
    
                    // --------  Pistoles  --------  
                    // 'CZ75-Auto',
                    {{ index .UserStatsForGame.Stats "total_kills_deagle"}},
                    // 'Dual Berettas',
                    {{ index .UserStatsForGame.Stats "total_kills_fiveseven"}},
                    {{ index .UserStatsForGame.Stats "total_kills_glock"}},
                    {{ index .UserStatsForGame.Stats "total_kills_p250"}},
                    {{ index .UserStatsForGame.Stats "total_kills_hkp2000"}},
                    // 'R8 Revolver',
                    {{ index .UserStatsForGame.Stats "total_kills_tec9"}},
                    // 'USP-S',
    
                    // --------  SMG  --------  
                    {{ index .UserStatsForGame.Stats "total_kills_mac10"}},
                     // 'MP5-SD',
                    {{ index .UserStatsForGame.Stats "total_kills_mp7"}},
                    {{ index .UserStatsForGame.Stats "total_kills_mp9"}},
                    // 'M4A4',
                    {{ index .UserStatsForGame.Stats "total_kills_p90"}},
                    {{ index .UserStatsForGame.Stats "total_kills_bizon"}},
                    // 'SSG 08',
                    {{ index .UserStatsForGame.Stats "total_kills_ump45"}},
    
                    // --------  Rifles  --------
                    {{ index .UserStatsForGame.Stats "total_kills_ak47"}},
                    {{ index .UserStatsForGame.Stats "total_kills_aug"}},
                    {{ index .UserStatsForGame.Stats "total_kills_awp"}},
                    {{ index .UserStatsForGame.Stats "total_kills_famas"}},
                    {{ index .UserStatsForGame.Stats "total_kills_galilar"}},
                    {{ index .UserStatsForGame.Stats "total_kills_g3sg1"}},
                    {{ index .UserStatsForGame.Stats "total_kills_m4a1"}},
                    {{ index .UserStatsForGame.Stats "total_kills_sg556"}},
                    {{ index .UserStatsForGame.Stats "total_kills_scar20"}}, 
                    
                    // --------  Heavy  --------
                    {{ index .UserStatsForGame.Stats "total_kills_mag7"}},
                    {{ index .UserStatsForGame.Stats "total_kills_m249"}},
                    {{ index .UserStatsForGame.Stats "total_kills_negev"}},
                    {{ index .UserStatsForGame.Stats "total_kills_nova"}},
                    {{ index .UserStatsForGame.Stats "total_kills_sawedoff"}},
                    {{ index .UserStatsForGame.Stats "total_kills_xm1014"}},  
                    
                    // --------  Grenades  --------
                    {{ index .UserStatsForGame.Stats "total_kills_hegrenade"}},
                    {{ index .UserStatsForGame.Stats "total_kills_molotov"}}
                ],
                backgroundColor: [
                    // --------  Close Range  --------
                    '#e91e6399',
                    //'#d81b6099',
    
                    // --------  Pistoles  -------- 
                    //'#f3e5f599',
                    '#e1bee799',
                    //'#ce93d899',
                    '#ba68c899',
                    '#ab47bc99',
                    '#9c27b099',
                    '#8e24aa99',
                    //'#7b1fa299',
                    '#6a1b9a99',
                    //'#4a148c99',
    
                    // --------  SMG  --------  
                    '#dcedc899',
                    //'#c5e1a599',
                    '#aed58199',
                    '#9ccc6599',
                    //'#8bc34a99',
                    '#7cb34299',
                    '#689f3899',
                    //'#558b2f99',
                    '#33691e99',
    
                    // --------  Rifles  --------
                    '#ffccbc99',
                    '#ffab9199',
                    '#ff8a6599',
                    '#ff704399',
                    '#ff572299',
                    '#f4511e99',
                    '#e64a1999',
                    '#d8431599',
                    '#bf360c99',
    
                    // --------  Heavy  --------
                    '#8d6e6399',
                    '#79554899',
                    '#6d4c4199',
                    '#5d403799',
                    '#4e342e99',
                    '#3e272399',
    
                    // --------  Grenades  --------
                    '#ffeb3b99',
                    '#fdd83599'
                ],
                borderColor: [
                   // --------  Close Range  --------
                   '#e91e63',
                    //'#d81b60',
    
                    // --------  Pistoles  -------- 
                    //'#f3e5f5',
                    '#e1bee7',
                    //'#ce93d8',
                    '#ba68c8',
                    '#ab47bc',
                    '#9c27b0',
                    '#8e24aa',
                    //'#7b1fa2',
                    '#6a1b9a',
                    //'#4a148c',
    
                    // --------  SMG  --------  
                    '#dcedc8',
                    //'#c5e1a5',
                    '#aed581',
                    '#9ccc65',
                    //'#8bc34a',
                    '#7cb342',
                    '#689f38',
                    //'#558b2f',
                    '#33691e',
    
                    // --------  Rifles  --------
                    '#ffccbc',
                    '#ffab91',
                    '#ff8a65',
                    '#ff7043',
                    '#ff5722',
                    '#f4511e',
                    '#e64a19',
                    '#d84315',
                    '#bf360c',
    
                    // --------  Heavy  --------
                    '#8d6e63',
                    '#795548',
                    '#6d4c41',
                    '#5d4037',
                    '#4e342e',
                    '#3e2723',
    
                    // --------  Grenades  --------
                    '#ffeb3b',
                    '#fdd835'
                ],
                borderWidth: 1
            }]
        },
        options: {
            legend: {
                labels: {
                    // This more specific font property overrides the global property
                    fontColor: 'white'
                },
                position: 'bottom',
                align: 'start',
                display: false
            }
        }
    });
</script>